@font-face {
    font-family: "Gilroy Bold";
    src: url(../font/Gilroy-Bold.ttf);
}

body {
    font-family: "Open Sans";
}

.navbar-right {
    margin-top: 2rem !important;
}

.back-header {
    background-image: url(../img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    animation: slide 15s infinite;
}

@keyframes slide {
    15% {
        background-image: url(../img/bg-3.jpg);
    }
    45% {
        background-image: url(../img/bg-2.jpg);
    }
    70% {
        background-image: url(../img/bg-1.jpg);
    }
}

.navbar-index {
    background-color: transparent !important;
    padding-top: 30px;
}

.navbar-brand {
    margin-left: 0 !important;
}

.navbar-brand img {
    width: 150px !important;
    margin-right: 50px !important;
}

.submitSignIn {
    background: #f8313e !important;
    width: 90% !important;
    border-radius: 5px !important;
    padding: 1.3rem !important;
    margin-left: 1rem !important;
    margin-bottom: 1rem;
}

.buttonSignIn {
    color: #fff !important;
    background: #f8313e !important;
    margin-right: 1rem !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding: 1.3rem;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
    font-family: Arial, Helvetica, sans-serif !important;
}

.sectionSignIn {
    right: 3% !important;
    top: 105% !important;
}

.buttonSignIn:hover,
.typeLogin:hover,
.typeLoginRegister:hover {
    background-color: #f8313e !important;
}

.navbar-index .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.4s;
}

.navbar-index .nav-link:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    transition: 0.4s;
}

.navbar-index .nav-item {
    padding-left: 10px;
}

.active .nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.img-wave {
    width: 100%;
}

.btn-round-red {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
}

.btn-round-red:hover {
    background-color: white;
    transition: 0.4s;
    color: #252525 !important;
}

.div-info-header {
    padding-top: 145px;
    text-align: center;
    padding-bottom: 165px;
}

.div-info-header .p1 {
    font-family: "Gilroy Bold";
    color: white;
    font-size: 70px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
}

.div-info-header .p2 {
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.div-info-header a {
    /* color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    border: 1.5px solid rgba(255, 255, 255, 0.6);*/
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.4s;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}

.div-info-header a:active,
.div-info-header a:focus {
    box-shadow: none;
    outline: 0;
}

.div-info-header a:hover {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 1);
    color: #f8313e;
}

.sec-services {
    padding-top: 70px;
    padding-bottom: 70px;
}

.div-sec-title {
    padding-bottom: 100px;
    text-align: center;
}

.div-sec-title .p1 {
    font-family: "Gilroy Bold";
    letter-spacing: 5px;
    font-size: 28px;
    text-transform: uppercase;
}

.div-sec-title .p2 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.div-sec-title .line-red {
    border-top: 3px solid #f8313e;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.div-item-services {
    text-align: center;
}

.div-item-services .icon-services {
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
    color: #f8313e !important;
    cursor: default;
    transition: 0.4s;
}

.div-item-services .icon-services:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.12);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.12);
    transition: 0.4s;
}

.div-item-services .p1 {
    font-family: "Gilroy Bold";
    padding-top: 55px;
    font-size: 26px;
    letter-spacing: 1px;
}

.div-item-services .p2 {
    font-family: "Open Sans";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 25px;
}

.sec-paquetes {
    background-color: #fafbfe;
    padding-top: 70px;
    padding-bottom: 100px;
}

.row-paquetes {
    margin-top: -40px;
}

.div-item-paquetes {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 40px;
    padding-bottom: 45px;
    transition: 0.4s;
}

.div-item-paquetes:hover {
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.15);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.15);
    transition: 0.4s;
    margin-top: -4px;
}

.title-item-paquetes {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.title-item-paquetes .p1 {
    font-family: "Gilroy Bold";
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
}

.title-item-paquetes .p2 {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
    padding-top: 10px;
}

.title-item-paquetes .p2 sup {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

.title-item-paquetes .p3 {
    font-family: "Gilroy Bold";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding-top: 11px;
}

.info-item-paquetes {
    text-align: center;
}

.info-item-paquetes .p1 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.8);
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.info-item-paquetes a {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
}

.info-item-paquetes a:hover {
    background-color: #2b2a2a;
    transition: 0.4s;
}

.sec-contacto {
    padding-top: 70px;
    padding-bottom: 100px;
}

.form-contacto {
    margin-top: -40px;
}

.form-contacto input {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 22px;
    font-family: "Open Sans";
    font-size: 15px;
    transition: 0.4s;
}

.form-contacto input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.form-contacto input:active,
.form-contacto input:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2b2a2a;
    transition: 0.4s;
}

.form-contacto textarea {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-family: "Open Sans";
    font-size: 15px;
    transition: 0.4s;
}

.form-contacto textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.form-contacto textarea:active,
.form-contacto textarea:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2b2a2a;
    transition: 0.4s;
}

.form-contacto .form-group {
    margin-bottom: 20px;
}

.btn-enviar-mensaje {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 16px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
    margin-top: 15px;
}

.btn-enviar-mensaje:hover {
    background-color: #2b2a2a;
    transition: 0.4s;
}

.sec-social {
    background-color: #fafbfe;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-atencion {
    margin-bottom: 0px;
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.2);
    font-size: 22px;
}

.p-phone {
    font-family: "Open Sans";
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    padding-top: 1px;
    text-align: center;
}

.p-phone i {
    color: #f8313e;
    margin-right: 15px;
}

footer {
    background-color: #2b2a2a;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .p1 {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 0px;
}

footer .p2 {
    text-align: right;
    margin-bottom: 0px;
}

.btn-social {
    color: rgba(255, 255, 255, 0.3);
    font-size: 22px;
    margin-right: 30px;
    transition: 0.4s;
}

.btn-social:hover {
    color: #f8313e;
    transition: 0.4s;
}

.navbar-pages {
    background-color: transparent !important;
}

.sec-navbar {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    position: relative;
}

.navbar-pages .nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.4s;
    font-weight: 600;
}

.navbar-pages .nav-link:hover {
    color: black !important;
    transition: 0.4s;
}

.navbar-index .nav-item {
    padding-left: 10px;
}

.navbar-pages .active .nav-link {
    color: black !important;
}

.btn-round-red-pages {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
}

.btn-round-red-pages:hover {
    background-color: black;
    transition: 0.4s;
    color: white !important;
}

.sec-gray {
    background-color: #fafbfe;
    padding-top: 100px;
    padding-bottom: 100px;
}

.d-form-login {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.4s;
}

.hr-form {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #f8313e;
    margin: 1em 0;
    padding: 0;
    width: 45px;
}

.title-form {
    font-family: "Open Sans";
    font-size: 25px;
    margin-bottom: 5px;
}

.sub-title-form {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.form-login,
.form-registro {
    padding-top: 20px;
}

.input-form {
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 25px;
    border-radius: 5px;
    transition: 0.4s;
}

.input-form::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.input-form:focus,
.input-form:active {
    box-shadow: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-red-form {
    background-color: #f8313e;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: 0.4s;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

.btn-red-form:hover {
    background: #a52029;
    color: white;
    transition: 0.4s !important;
}

.bottom-text-form {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.bottom-text-form a {
    color: #f8313e;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
}

.bottom-text-form a:hover {
    color: black;
    transition: 0.4s;
}

.modal-content {
    border-radius: 15px;
    border: none;
    text-align: center;
    padding-bottom: 20px;
}

.modal-header {
    border: none;
    padding-bottom: 0px;
}

.modal-footer {
    text-align: center !important;
}

.modal-body {
    padding-top: 0px;
}

.modal-title {
    padding: 0px;
    color: #9fa1a2;
    font-size: 25px;
}

.info-modal {
    padding-top: 10px;
}

.info-modal .t1 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-bottom: 10px;
}

.info-modal .t2 {
    font-size: 20px;
}

.btns-modal a {
    background-color: #edeff2;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
    margin-left: 5px;
    margin-right: 5px;
}

.btns-modal a:hover {
    background-color: #ddf9ff;
    color: #00899d;
}

.icon-atencion {
    padding-bottom: 7px;
}

.icon-atencion img {
    width: 85px;
}

.username-nav {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.4s;
    font-weight: 600;
}

#logo {
    background-color: transparent !important;
}