@font-face {
    font-family: robotomedium;
    src: url(../font/roboto/roboto-medium-webfont.eot);
    src: url(../font/roboto/roboto-medium-webfont.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto-medium-webfont.woff2) format("woff2"), url(../font/roboto/roboto-medium-webfont.woff) format("woff"), url(../font/roboto/roboto-medium-webfont.ttf) format("truetype"), url(../font/roboto/roboto-medium-webfont.svg#robotomedium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotobold;
    src: url(../font/roboto/roboto-bold-webfont.eot);
    src: url(../font/roboto/roboto-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto-bold-webfont.woff2) format("woff2"), url(../font/roboto/roboto-bold-webfont.woff) format("woff"), url(../font/roboto/roboto-bold-webfont.ttf) format("truetype"), url(../font/roboto/roboto-bold-webfont.svg#robotobold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotolight;
    src: url(../font/roboto/roboto-light-webfont.eot);
    src: url(../font/roboto/roboto-light-webfont.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto-light-webfont.woff2) format("woff2"), url(../font/roboto/roboto-light-webfont.woff) format("woff"), url(../font/roboto/roboto-light-webfont.ttf) format("truetype"), url(../font/roboto/roboto-light-webfont.svg#robotolight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotoregular;
    src: url(../font/roboto/roboto-regular-webfont.eot);
    src: url(../font/roboto/roboto-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto-regular-webfont.woff2) format("woff2"), url(../font/roboto/roboto-regular-webfont.woff) format("woff"), url(../font/roboto/roboto-regular-webfont.ttf) format("truetype"), url(../font/roboto/roboto-regular-webfont.svg#robotoregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotothin;
    src: url(../font/roboto/roboto-thin-webfont.eot);
    src: url(../font/roboto/roboto-thin-webfont.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto-thin-webfont.woff2) format("woff2"), url(../font/roboto/roboto-thin-webfont.woff) format("woff"), url(../font/roboto/roboto-thin-webfont.ttf) format("truetype"), url(../font/roboto/roboto-regular-webfont.svg#robotothin) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: concita;
    src: url(../font/concita/concita.eot?6qau8v);
    src: url(../font/concita/concita.eot?6qau8v#iefix) format("embedded-opentype"), url(../font/concita/concita.ttf?6qau8v) format("truetype"), url(../font/concita/concita.woff?6qau8v) format("woff"), url(../font/concita/concita.svg?6qau8v#concita) format("svg");
    font-weight: 400;
    font-style: normal
}

.thin {
    font-family: robotothin
}

.light {
    font-family: robotolight
}

.medium {
    font-family: robotomedium
}

.regular {
    font-family: robotoregular
}

.bold {
    font-family: robotobold
}

[class*=" concita-"],
[class^=concita-] {
    font-family: concita !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.concita-arquitectura:before {
    content: "\e900"
}

.concita-arte:before {
    content: "\e901"
}

.concita-cine:before {
    content: "\e902"
}

.concita-concita:before {
    content: "\e903"
}

.concita-deportes:before {
    content: "\e904"
}

.concita-disenio:before {
    content: "\e905"
}

.concita-juridico:before {
    content: "\e906"
}

.concita-mecanica:before {
    content: "\e907"
}

.concita-medicina:before {
    content: "\e908"
}

.concita-tecnologia:before {
    content: "\e909"
}

.concita-video:before {
    content: "\e90a"
}

.navbar-default {
    background: #fff;
    border-color: #fff
}

.navbar-default .btn {
    border: none
}

#filtros,
#menu {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 4.5em;
    z-index: 12;
    font-family: robotoregular, serif;
    transition: all .5s ease-in-out !important;
    opacity: 1;
    visibility: visible
}

#filtros .container {
    padding-bottom: 2em
}

.colapsar {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all .5s ease-in-out !important
}

.footer {
    width: 100%;
    border-radius: 0
}

.navbar-right {
    margin-right: 0
}

.navbar-gray {
    background: #56555a;
    border: none;
    z-index: 1;
    color: #fff
}

.navbar-gray .btn {
    border: none
}

.navbar-gray .container {
    margin-top: 14px
}

.secondGrayTitle,
.secondTitle,
.welcomeTitle .container {
    font-size: 1.5em;
    color: #77767b;
    text-indent: 15px;
    margin: 0 0 1em;
    font-family: robotoregular, serif
}

.row.secondGrayTitle,
.row.secondTitle,
.welcomeTitle .row.container {
    margin: 0 0 1em !important
}

.row.filterOptions {
    margin: 0 !important
}

.filterOptions>div {
    color: #000
}

.secondGrayTitle div,
.secondTitle div,
.welcomeTitle .container div {
    text-indent: 0
}

.secondGrayTitle .plus,
.secondTitle .plus,
.welcomeTitle .container .plus {
    color: #fb2750;
    margin-right: .25em;
    font-size: 1.13em;
    cursor: pointer
}

.secondGrayTitle .search,
.secondTitle .search,
.welcomeTitle .container .search {
    color: silver;
    margin-right: .25em;
    font-size: 1.05em
}

.secondGrayTitle {
    color: silver;
    margin-bottom: 0
}

.row.cards {
    margin: 0 -2em -2em -2em
}

.dangerContainer {
    background: #fb2750 !important;
    text-align: center;
    cursor: pointer
}

.welcomeTitle {
    background: #56555a
}

.welcomeTitle.dangerContainer {
    cursor: default
}

.welcomeTitle .container {
    color: #fff;
    margin: .5em auto .7em
}

.welcomeTitle .container b {
    color: #fb2750
}

.floatRight {
    float: right
}

#filtros .modal-dialog {
    width: 100%;
    margin: 0
}

#filtros .modal-dialog .modal-content {
    border-radius: 0
}

.filtros {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    margin-bottom: 1.5em
}

.filtros.hour {
    width: 110%
}

.menuFilters {
    width: 60%
}

.filtros:last-child {
    margin-bottom: 3em
}

.filtros li {
    cursor: pointer;
    color: silver;
    font-family: robotoregular, serif;
    padding: 1.5em 0;
    text-align: center;
    float: left;
    -webkit-box-shadow: 0 6px 10px -2px rgba(92, 92, 92, .2);
    -moz-box-shadow: 0 6px 10px -2px rgba(92, 92, 92, .2);
    box-shadow: 0 6px 10px -2px rgba(92, 92, 92, .2);
    min-width: 9.5em;
    margin-bottom: .5em;
    margin-right: .5em;
    min-width: 9em;
    border: 1px solid
}

.filtros li:active,
.hoverFilter {
    color: #fff !important;
    background: #fb2750
}

.filterApply,
.filterApplyClient {
    background: #2db983;
    color: #fff;
    border-radius: 0;
    margin-left: 0;
    float: right
}

.sortItems {
    padding: 2.3em 0 !important
}

.filterApply:focus,
.filterApply:hover,
.filterApplyClient:focus,
.filterApplyClient:hover {
    color: #fff
}

.floatRight {
    float: right
}

.floatNone {
    float: none !important
}

.closeFilters {
    color: #fb2750;
    margin-top: .5em;
    cursor: pointer
}

.filtersSelection i {
    margin: 0
}

.filtersSelection .fa-times {
    margin: 1em 1em 1em .5em;
    color: silver
}

.filtersSelection span {
    cursor: pointer
}

.closeServiceDetail {
    color: #fff;
    font-size: 2em;
    position: relative;
    bottom: .15em;
    left: .3em;
    cursor: pointer
}

.shadowWindow {
    background-color: #000;
    opacity: .5;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10
}

.nav>li>a {
    color: #77767b;
    font-family: robotoregular, serif
}

#menu ul>li>a {
    text-indent: 1em;
    border-radius: 0
}

#menu ul>li>a>i {
    float: right
}

#menu ul>li:hover>a {
    color: #77767b !important
}

#menu ul>li:last-child {
    background: #77767b
}

#menu ul>li:last-child>a {
    color: #fff
}

@media screen and (min-width:768px) {

    body,
    html {
        font-size: 10px
    }
}

@media screen and (min-width:1024px) {

    body,
    html {
        font-size: 11px
    }
}

@media screen and (min-width:1200px) {

    body,
    html {
        font-size: 12px
    }
}

.packages {
    margin-top: -4em
}

.cursorPointer {
    cursor: pointer !important
}

.msnLocation {
    color: #fb2750
}

.modal-body {
    text-align: justify
}

body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    font-family: robotoregular, serif
}

body {
    padding-right: 0 !important
}

.main {
    margin-top: 70px
}

.img-responsive,
.loadImageBtn {
    margin: 0 auto 1.25em;
    display: block;
    width: 100%
}

.detailSelectHour {
    margin-bottom: .25em;
    display: block;
    font-family: robotobold, serif;
    font-size: 1.25em;
    text-align: center
}

.titlePackage {
    font-size: 1.5em;
    color: #56565a;
    font-weight: 700
}

.price {
    font-size: 2em;
    color: #56565a;
    font-weight: 700
}

.listPackageOptions {
    list-style-type: none;
    text-align: left;
    font-size: 1.2em;
    margin-top: 2em
}

.listPackageOptions li {
    margin-bottom: .3em
}

.botonAdquirir {
    width: 100%;
    height: 40px;
    background-color: #fc2852;
    color: #fafbfd
}

.selectChek {
    padding: .25em;
    height: 9em;
    overflow: auto;
    font-size: 1.25em;
    background: #fff7f7
}

.selectChek label {
    margin-bottom: 5px;
    color: #fc2852
}

mark.text-danger {
    background: 0 0 !important;
    font-weight: 700;
    color: #56565a !important
}

.btn-default,
.btn-red,
.month-controls span {
    border-radius: 0 !important;
    border: 1px solid silver !important;
    background-color: #fff !important;
    color: #2d2d2d !important
}

.btn-red {
    background-color: #fb2750 !important
}

.marginBottom1em {
    margin-bottom: 1em
}

.timeStyle {
    display: inline-block;
    min-width: 80px
}

.loadImageBtn {
    background: #02c59b;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 1em
}

.loadImageBtn .text-danger {
    color: #fff !important;
    margin-right: 1em;
    margin-top: .25em
}

.loadImageBtn:active,
.loadImageBtn:focus,
.loadImageBtn:hover {
    background: #02c59b !important;
    color: #fff !important;
    outline: 0 !important;
    box-shadow: none !important
}

.labelInstructionsFilter {
    color: #b4b7bf;
    font-family: robotoregular, serif;
    font-size: .75em;
    margin-bottom: .5em
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 2em
}

h1.title {
    font-size: 50px;
    font-weight: 400
}

hr {
    width: 10%;
    color: #fff
}

.form-group {
    margin-bottom: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important
}

label {
    margin-bottom: 15px
}

input,
input::-moz-input-placeholder,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px
}

select,
select option {
    color: #000
}

select option[value=""],
select:invalid {
    color: #848484
}

[hidden] {
    display: none
}

.sectionSignIn {
    background-color: #fff;
    margin: 0 auto;
    max-width: 22.7em;
    position: absolute;
    top: 100%;
    right: 0;
    transition: all .5s ease-in-out !important;
    opacity: 1;
    visibility: visible;
    z-index: 2
}

.login-register {
    font-size: 11px;
    text-align: center
}

body {
    overflow-x: hidden
}

#main_content {
    width: 100%;
    padding: 4em 0
}

#main_content .container {
    margin-top: 20px;
    padding-right: 17px
}

#module_name .name {
    text-align: center;
    display: block;
    font-family: robotoregular, serif;
    font-size: 1.5em
}

.navbar-btn.btn {
    margin-right: .5em
}

.text-danger {
    color: #fb2750 !important
}

span.app-title {
    font-size: 140% !important
}

.text-success {
    color: #02c59b !important
}

#main_landing .container {
    text-align: center;
    font-family: robotoregular, serif
}

#main_landing .container h2 {
    color: #fb2750;
    margin-bottom: 2em
}

.sectionFooter {
    font-weight: 700
}

.coverLanding {
    background-image: url(../img/banner-3.jpg);
    color: #fff;
    text-align: center;
    padding: 10em 1em;
    font-family: robotobold, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh
}

.version {
    text-align: center;
    font-size: .75em;
    margin-top: 0;
    opacity: .7
}

.pressTransparent {
    height: 100%;
    width: 100%;
    background: 0 0;
    position: absolute;
    z-index: 1;
    top: 0
}

.row {
    margin: 0
}

#main_landing .container .row,
.coverLanding .row {
    margin-bottom: 6em
}

#main_landing .container .row .col-md-3,
.coverLanding .row .col-md-3 {
    border-right: 1px solid #c44242;
    min-height: 20em
}

#main_landing .container .row .col-md-3:last-child,
.coverLanding .row .col-md-3:last-child {
    border: none
}

.imageHowWorks {
    font-size: 6em;
    color: #77767b
}

.descriptionHowWorks {
    display: block;
    font-size: 1.2em;
    text-align: justify
}

.sectionHowWorks {
    margin-bottom: 5em
}

.buttonSignIn {
    float: right;
    padding: 1.8em;
    color: #77767b;
    cursor: pointer;
    font-family: robotobold, serif;
    width: 11.3em;
    text-align: center
}

.buttonSignIn:hover,
.typeLogin:hover,
.typeLoginRegister:hover {
    background: #56555a;
    color: #fff
}

.navbar {
    margin-bottom: 0
}

.navbar.navbar-default {
    border: none
}

.padding0 {
    padding: 0 !important
}

.typeLogin,
.typeLoginRegister {
    height: 9em;
    display: block;
    padding: 2.5em;
    cursor: pointer;
    float: left;
    width: 11.3em;
    text-align: center
}

.loginForm {
    width: 23em;
    padding: 0
}

.divInputSignIn {
    padding: 0 1.5em
}

.aceptTermines,
.subTitleSignIn,
.titleSignIn,
.titleSignInRegister {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em
}

.titleSignInRegister {
    font-size: 1.2em;
    color: #77767b;
    padding: 0 1em
}

.titleSignIn:first-child {
    color: #77767b
}

.aceptTermines {
    font-size: 1em
}

.subTitleSignIn {
    font-size: .75em
}

.subTitleSignIn b {
    cursor: pointer
}

.inputSignIn {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 1em;
    background: #f9f9f9;
    border: 1px solid #ccc
}

.roleTitle {
    margin-bottom: 1em;
    margin-top: .5em
}

.submitSignIn {
    color: #fff;
    background: #02c59b;
    font-family: robotobold, serif;
    border: 1px solid #ccc;
    width: 100%;
    padding: .5em;
    font-size: 1.25em
}

.submitSignIn:disabled {
    cursor: no-drop;
    opacity: .5
}

.titleSignIn i {
    margin-right: .5em
}

.typeLogin:first-child,
.typeLoginRegister {
    border-right: 1px solid #77767b
}

.borderB {
    border-bottom: 1px solid #f2f2f2
}

.jconfirm-buttons .btn {
    border-radius: 5px !important
}

.iconsSignIn {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: .25em
}

.btn-facebook {
    margin: 1em;
    width: 90%
}

.paddingTB0_5em {
    padding-top: .5em;
    padding-bottom: .5em
}

.textAlignCenter {
    text-align: center
}

.slider {
    position: relative;
    width: 100%;
    height: 5px;
    overflow-x: hidden
}

.line {
    position: absolute;
    opacity: .4;
    background: #4a8df8;
    width: 150%;
    height: 5px
}

.subline {
    position: absolute;
    background: #4a8df8;
    height: 5px
}

.inc {
    animation: increase 2s infinite
}

.dec {
    animation: decrease 2s .5s infinite
}

p small {
    position: relative;
    bottom: 1em
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%
    }

    to {
        left: 130%;
        width: 100%
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%
    }

    to {
        left: 110%;
        width: 10%
    }
}

.growl {
    font-family: robotoregular, serif
}

.growl.growl-notice {
    background: #02c59b
}

.growl.growl-warning {
    background: #fb2750
}

.btn-facebook {
    color: #fff !important;
    background-color: #3b5998;
    border-radius: 0;
    font-size: 1em !important;
    padding: .5em;
    margin: 1em
}

.btn-social.btn-lg>:first-child {
    line-height: 1.8em;
    width: 2em;
    font-size: 1.4em;
    position: relative;
    left: -3em
}

.pinConfirm {
    width: 24%;
    text-align: center
}

.pikerdate {
    color: #fc2852;
    font-family: Helvetica, arial, sans-serif;
    display: inline-block !important;
    visibility: visible !important;
    width: 100%;
    height: 40px;
    font-size: 1.25em
}

.card {
    min-height: 49em;
    padding-top: 20px;
    margin: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.card .card-heading {
    padding: 0 20px;
    margin: 0
}

.card .card-heading .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #56555a;
    border-bottom: 1px solid #56555a
}

.card .card-heading.image img {
    display: inline-block;
    vertical-align: top;
    border: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #2d2d2d
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #56555a
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap
}

.card .card-comments .media-heading {
    font-size: 13px;
    font-weight: 700
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top
}

.card.people:first-child {
    margin-left: 0
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #fff
}

.card.people .card-top.green {
    background-color: #53a93f
}

.card.people .card-top.blue {
    background-color: #427fed
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #404040
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    font-family: robotoregular, serif
}

.card.people .card-info .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    cursor: pointer
}

.card.hovercard .info {
    padding: 4px 8px 10px
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    line-height: 1;
    vertical-align: middle;
    color: #56555a;
    font-family: robotobold, serif
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: silver;
    text-overflow: ellipsis;
    font-family: robotoregular, serif
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px
}

.card.hovercard .cardheaderDetail img {
    width: 100%;
    height: auto
}

.card.hovercard .cardheader {
    height: 13em;
    overflow: hidden
}

.card.hovercard .cardheader img {
    width: 100%;
    height: auto;
    min-height: 13em;
    overflow: hidden
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .5)
}

.card.hovercard .btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px
}

.backgroundWhite {
    background: #fff
}

.detailCardModal {
    margin: 14.5em 40.2%;
    width: 44em
}

.backgroundWhite,
.backgroundWhite .card {
    margin: 0;
    padding: 0;
    cursor: default
}

.aceptaciones,
.cancelaciones,
.newCard,
.peticiones,
.warning {
    background: #fb2750;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: .7em 1em;
    width: 6.5em;
    display: block;
    position: absolute;
    font-family: robotoregular, serif
}

.aceptaciones {
    background: #02c59b
}

.cancelaciones {
    background: #2d2d2d
}

.aceptaciones,
.cancelaciones,
.peticiones {
    width: 100%;
    position: relative
}

.peticiones i {
    margin-right: .5em
}

.iconCenterCard {
    padding: .2em .4em;
    background: #fff;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.75em;
    position: relative;
    bottom: .75em;
    color: gray;
    margin: 0 .16em;
    border: 1px solid silver
}

.info {
    padding: 0 1em 1em;
    margin-top: -1em;
    margin-bottom: 0
}

.request {
    margin-top: 2em
}

.info.request {
    margin-bottom: 0
}

.containerInfo {
    width: 100%;
    padding: 0 2em;
    text-align: left;
    min-height: 30em;
    max-height: 30em;
    overflow-y: auto
}

.imgProfileCard {
    height: 2.4em;
    border-radius: 50px;
    float: left;
    margin-right: 2em
}

.buttonDoDate {
    background: #02c59b;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    font-weight: bolder;
    font-family: robotobold, serif;
    text-align: center;
    cursor: pointer
}

.cursorDefault {
    cursor: default !important
}

.datesService {
    max-height: 70em;
    overflow-y: auto
}

.detailServiceCard .card {
    min-height: unset;
    cursor: default
}

.detailServiceCard .card .info .containerInfo {
    min-height: unset;
    max-height: unset
}

.detailCardModal .backgroundWhite .card {
    min-height: unset
}

.detailCardModal .backgroundWhite .card .info .containerInfo {
    min-height: unset;
    max-height: unset
}

.datesService .card {
    min-height: unset
}

.datesService .card .info .containerInfo {
    min-height: unset
}

.modal-dialog .containerCard .card {
    min-height: unset
}

.modal-dialog .containerCard .card .info .containerInfo {
    min-height: unset
}

.cancelDate {
    width: 100% !important
}

.buttonDoDate:disabled {
    opacity: .4
}

.buttonDoDate:focus,
.buttonDoDate:hover {
    color: #fff
}

.cancel,
.confirm,
.edit {
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.danger {
    color: #fb2750 !important
}

.cancel {
    color: #fff;
    background: #fb2750
}

.confirm {
    color: #02c59b
}

.containerPerfilCard {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: .75em;
    margin-bottom: .75em
}

.containerPreciosCard {
    width: 50%;
    display: inline;
    height: 5em
}

.containerCardConfirm,
.containerCardNoConfirm {
    float: right
}

.containerCardNoConfirm {
    text-align: center;
    padding: 1em;
    color: #56555a;
    border: 1px solid #56555a
}

.textAlignRight {
    text-align: right
}

.textAlignLeft {
    text-align: left
}

.cardTypeCard {
    margin-right: .7em
}

.newService {
    margin: 10px;
    padding: 8.74em 0;
    text-align: center;
    font-size: 1.75em;
    color: #757b8b;
    font-family: robotolight, serif;
    border: 2px dashed #757b8b;
    cursor: pointer
}

.newService:hover {
    color: #56555a;
    border-color: #56555a
}

#serviceConfirm,
#serviceCreating,
#serviceDeleteConfirm,
#serviceNotification,
#serviceSolicitedConfirm {
    top: 28%
}

#serviceCreating {
    padding: 0 !important
}

#serviceConfirm .containerCard,
#serviceCreating .containerCard,
#serviceDeleteConfirm .containerCard,
#serviceNotification .containerCard,
#serviceSolicitedConfirm .containerCard {
    margin: 0 auto;
    float: none !important
}

#serviceDeleteConfirm i,
#serviceNotification i,
#serviceSolicitedConfirm i {
    display: block;
    font-size: 4em;
    color: #02c59b;
    margin-bottom: .25em
}

#serviceCreating .card,
#serviceDeleteConfirm .card,
#serviceNotification .card {
    padding: 3em 2em;
    font-family: robotobold, serif;
    cursor: default
}

#serviceDeleteConfirm .card,
#serviceSolicitedConfirm .card {
    padding: 6em 0 0
}

#serviceDeleteConfirm .info {
    margin-bottom: 2em
}

#serviceCreating .header {
    font-size: 2em;
    font-family: robotolight, serif;
    margin-bottom: .25em
}

#serviceDeleteConfirm div.danger {
    font-size: 1.25em
}

#serviceDeleteConfirm .warning,
#serviceSolicitedConfirm .aceptaciones {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute
}

#serviceCreating .slider {
    margin-top: 1em
}

.modal {
    left: 1em
}

.card.hovercard .info .desc,
.card.hovercard .info .title {
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.3
}

.compressCard,
.compressCard div .info .containerInfo {
    min-height: 16em !important
}

@media screen and (max-width:1024px) {
    .detailCardModal {
        left: 7em;
        margin: 14.5em auto
    }

    .modal-dialog {
        width: 450px
    }
}

@media screen and (max-width:768px) {
    .containerPreciosCard {
        float: none;
        width: 100%
    }

    .card.hovercard .info .title {
        margin-bottom: .1em
    }

    .detailCardModal {
        left: 0
    }
}

@media screen and (max-width:425px) {
    .containerCard {
        padding: 0
    }

    .card,
    .row.cards {
        margin: 0
    }

    .closeServiceDetail {
        position: absolute;
        top: 1em;
        left: 12.5em
    }

    .modal-dialog {
        width: 100%;
        margin: 0 auto
    }
}

@media screen and (max-width:375px) {
    .closeServiceDetail {
        left: 11em
    }

    .buttonSignIn {
        width: 9.5em;
        padding: 1.6em
    }
}

@media screen and (max-width:320px) {
    .buttonSignIn {
        width: 8.5em
    }
}

.item {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.item.promoted:after {
    content: 'Bloqueado';
    position: absolute;
    background: #fb2750;
    color: #fff;
    width: 100%;
    line-height: 1em;
    text-align: center;
    padding: .5em 0;
    box-sizing: border-box;
    top: 0;
    right: 0;
    transform: rotate(45deg) translate(30%, -25%);
    transform-origin: 50% 50%
}

.newcreditcard {
    margin: 10px;
    padding: 2.75em 0;
    text-align: center;
    font-size: 1.25em;
    color: #757b8b;
    font-family: robotolight, serif;
    border: 2px dashed #757b8b;
    cursor: pointer;
    border-radius: 5px
}

.newcreditcard:hover {
    color: #56555a;
    border-color: #56555a
}

.creditcard {
    margin: 10px;
    padding: 1.2em 0;
    font-size: 1.25em;
    color: #56555a;
    font-family: robotolight, serif;
    border: 1px solid #757b8b !important;
    border: 1px #757b8b;
    -webkit-box-shadow: 0 9px 19px 2px #56555a;
    -moz-box-shadow: 0 9px 19px 2px #56555a;
    box-shadow: 0 9px 19px 2px #56555a;
    border-radius: 5px
}

.creditcard .buttons {
    display: inline
}

.creditcard .number {
    background-color: #56555a;
    color: #fff;
    display: block;
    text-align: center
}

.creditcard .exp,
.creditcard .icon {
    display: inline;
    margin-left: 1em
}

.creditcard .name {
    text-align: center;
    font-size: 1.5em
}

.calendar-wrapper {
    text-align: center;
    font-family: robotoregular, serif;
    font-size: 160%
}

.calendar-wrapper .active .text-info {
    color: #fff
}

.calendar-wrapper .calendar-days {
    display: inline;
    margin: auto;
    text-align: center
}

.calendar-wrapper .calendar-days .btn {
    border: none
}

.calendar-wrapper .calendar-days .btn.btn-sm {
    padding: 20px;
    border-radius: 0
}

.calendar-wrapper .calendar-days .btn.btn-sm.active {
    background-color: #fb2750 !important;
    color: #fff !important
}

.calendar-wrapper .calendar-months {
    display: inline;
    margin: auto;
    text-align: center
}

.calendar-wrapper .calendar-months td.btn-container {
    width: 30%;
    padding-right: 10px;
    padding-left: 10px
}

.calendar-wrapper .calendar-months td.btn-container .btn {
    border: none
}

.calendar-wrapper .calendar-months td.btn-container .btn.btn-default {
    padding-top: 20px;
    width: 90px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.calendar-wrapper .calendar-months td.btn-container .btn.btn-default.active {
    background-color: #fb2750;
    color: #fff
}

.calendar-wrapper .calendar-months td.btn-container .btn.btn-default .month-events {
    display: block
}

.calendar-wrapper .calendar-months tr {
    height: 100px
}

.calendar-wrapper thead tr:first-child {
    display: none
}

.calendar-wrapper table {
    margin: auto
}

.calendar-tabs li a {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.calendar-tabs li.active a.ng-binding {
    border: none;
    background: #2d2d2d;
    color: #fff;
    font-family: robotomedium, serif
}

.calendar-tabs li.active a.ng-binding:hover .calendar-tabs li.active a.ng-binding:focus {
    border: none
}

.calendar-tabs li a.ng-binding {
    border: none;
    background-color: #fff;
    color: #fb2750;
    font-family: robotomedium, serif
}

.calendar-tabs li a.ng-binding:hover .calendar-tabs li a.ng-binding:focus {
    border: none
}

.calendar-tabs .nav-tabs.nav-justified>.active>a,
.calendar-tabs .nav-tabs.nav-justified>.active>a:focus,
.calendar-tabs .nav-tabs.nav-justified>.active>a:hover {
    border: none
}

.month-controls {
    text-align: center;
    color: #fb2750;
    font-size: 1.25em;
    font-weight: 700;
    font-family: robotobold, serif;
    padding-bottom: 7em
}

.month-controls .text-center {
    height: 30px;
    line-height: 30px
}

.month-controls .btn-group {
    border: none;
    margin: auto
}

.month-controls .btn {
    border: none
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: #000
}

.uib-daypicker table thead tr:last-child {
    height: 2em;
    border-bottom: 1px solid #fb2750
}

.uib-daypicker:active,
.uib-daypicker:focus {
    outline: 0
}

.availableHours {
    color: #56565a;
    text-align: left;
    font-family: robotobold, serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: 1em 0
}

.selectHour {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.25em;
    height: 2.4em;
    border-radius: 0;
    border: 1px solid silver;
    background: #fff
}

.errorMessage {
    margin-bottom: 1em;
    color: #fb2750;
    font-weight: 700;
    font-size: 1.1em
}

.calendar-wrapper .calendar-days .btn.btn-sm {
    padding: 1.5em !important
}

.btn-sm,
.calendar-months .btn-default,
.month-controls .btn,
.month-controls span {
    background-color: #fff !important;
    color: #000 !important
}

.month-controls .text-center {
    padding: .48em;
    height: unset !important;
    line-height: unset !important;
    background: #fb2750 !important;
    color: #fff !important
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin: 0 0 30px 50px
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #2d2d2d;
    left: 33px;
    margin: 0;
    border-radius: 2px
}

.timeline>li {
    position: relative;
    margin-bottom: 15px
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li>.timeline-item {
    -moz-box-shadow: 0 1px 1px rgba(45, 45, 45, .1);
    -webkit-box-shadow: 0 1px 1px rgba(45, 45, 45, .1);
    box-shadow: 0 1px 1px rgba(45, 45, 45, .1);
    margin-top: 0;
    background: #fff;
    color: #2d2d2d;
    margin-left: 140px;
    padding: 0;
    position: relative;
    cursor: pointer
}

.timeline>li>.timeline-item table tr td {
    height: 1.25em
}

.timeline>li>.timeline-item table tr td.event-day {
    vertical-align: top;
    text-align: center;
    font-size: 160%;
    font-family: robotobold, serif;
    width: 20%
}

.timeline>li>.timeline-item table tr td .bold {
    font-family: robotoregular, serif
}

.timeline>li>.timeline-item table tr td.event-name {
    font-family: robotolight, serif;
    font-size: 90%;
    line-height: 1
}

.timeline>li>.timeline-item table tr td.event-description {
    width: 23em;
    font-family: robotobold, serif;
    line-height: 1;
    margin-bottom: 1em
}

.timeline>li>.timeline-item table tr td.event-time {
    font-family: robotobold, serif
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #2d2d2d;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
    display: inline
}

.timeline>li>.timeline-item>.timeline-header>span {
    font-weight: 600;
    margin-left: 5%
}

.timeline>li>.timeline-item>.timeline-header-title {
    margin: 0;
    color: #2d2d2d;
    padding: 10px;
    font-size: 120%;
    line-height: 1.1;
    font-family: robotothin, serif;
    cursor: pointer
}

.timeline>li>.timeline-item>.timeline-header-title>span {
    font-weight: 600
}

.timeline>li>.timeline-item>.timeline-body,
.timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
    display: inline
}

.timeline>li>.fa,
.timeline>li>.glyphicon,
.timeline>li>.ion {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    color: #2d2d2d;
    background: #fff;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    left: 14px;
    top: 0;
    padding-top: 3px;
    cursor: pointer
}

.timeline>li>.fa .danger,
.timeline>li>.glyphicon .danger,
.timeline>li>.ion .danger {
    color: #fb2750
}

.timeline>li>.fa .success,
.timeline>li>.glyphicon .success,
.timeline>li>.ion .success {
    color: #02c59b !important
}

.timeline>.time-label>span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px
}

.timeline>.time-label>span .bg-red {
    background-color: #fb2750;
    color: #fff
}

.timeline-inverse>li>.timeline-item {
    background: #fff;
    border: none;
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 15px
}

.timeline-inverse>li>.timeline-item>.timeline-header {
    border: none
}

.timeline-inverse>li>.timeline-item>.timeline-header-title {
    border: none
}

.profile-card>img {
    border-radius: 50%;
    margin: 1em auto;
    width: 160px;
    display: block
}

.profile-card .btn-group {
    margin: 50% auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2px
}

.profile-card .btn-group .btn {
    font-family: robotomedium, serif;
    border: none;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.profile-card .btn-group .btn.text-danger {
    color: #fb2750
}

.profile-card .btn-group .btn.text-success {
    color: #02c59b
}

.profile-card>form .form-group .input-group {
    font-weight: 100;
    font-size: 120%
}

.profile-card>form .form-group .input-group .fa {
    color: #56555a;
    font-size: 1.5em
}

.profile-card>form .form-group .input-group.active {
    color: #2d2d2d;
    border: solid 1px #edeef0;
    border-radius: 2px;
    font-family: robotomedium, serif
}

.profile-card>form .form-group .input-group.active .fa {
    color: #2d2d2d
}

.profile-card>form .form-group .input-group .input-group-addon {
    background: #fff;
    border: none
}

.profile-card>form .form-group .input-group .form-control {
    background: #fff;
    border: none
}

.profile-card>form .form-group input {
    border: none
}

.profile-card>form .form-group input:read-only {
    font-family: robotolight, serif
}

.profile-card .row {
    margin-bottom: 1.25em
}

.form {
    width: 50%;
    margin-bottom: 2em
}

.form .buttonDoDate {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    margin-bottom: 1.25em;
    border-radius: 0
}

.inputImage {
    margin: .25em 0;
    padding: 3em;
    background: #56555a;
    color: #fff;
    text-align: center;
    font-size: 2em
}

.fa-plus {
    color: #fff !important;
    float: left;
    margin-right: 1em;
    margin-top: .25em
}

input,
input.col-xs-12 {
    border: 1px solid silver;
    background: #fff;
    padding: .5em !important
}

.inputField {
    width: 100%;
    padding: .75em 1.25em;
    font-size: 1.25em;
    font-family: robotolight, serif;
    border: 1px solid silver;
    margin-bottom: 1em;
    background: #fff;
    outline: 0
}

.form-control.has-error,
.inputField.has-error,
.inputSignIn.has-error,
.selectHour.has-error {
    box-shadow: 0 0 7px 2px #fb2750 !important;
    -webkit-box-shadow: 0 0 7px 2px #fb2750 !important;
    -moz-box-shadow: 0 0 7px 2px #fb2750 !important
}

input.inputField {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid silver;
    width: 100%
}

.inputField i {
    color: #fb2750
}

.labelField {
    font-family: robotolight, serif;
    font-size: 1.25em;
    margin-bottom: 1.25em
}

.checkboxRow {
    text-align: center
}

.checkboxField {
    display: inline-block;
    margin: 0 3em 1.25em
}

.categorias,
.cupo,
.day,
.periodo,
.tipoCosto,
.tipoPago {
    text-align: center;
    display: block;
    width: 66%;
    margin: 0 auto
}

.tipoCosto,
.tipoPago {
    width: 75%
}

.tipoPago li .far {
    font-size: 2em
}

.day {
    width: 100%;
    margin: 2em auto
}

.periodo {
    width: 97%
}

.categorias {
    width: 110%
}

.day li {
    min-width: 5em;
    display: inline-block;
    float: none;
    padding: 1.75em
}

.cupo li {
    display: inline-block;
    float: none;
    padding: .5em;
    margin-bottom: 1em
}

.hour li {
    padding: 2em 1.5em;
    display: inline-block;
    float: none;
    min-width: unset
}

@media only screen and (min-width:1024px) {
    .hour li {
        padding: 2em 2.15em
    }
}

@media only screen and (min-width:1440px) {
    .hour li {
        padding: 2em 2.15em
    }

    .month-controls .text-center {
        padding: .35em
    }
}

.categorias li {
    margin-bottom: 1em;
    padding: 1.5em 1em;
    min-width: 22em;
    margin-right: .9em
}

.categorias li .fas {
    font-size: 2em
}

.periodo li,
.tipoCosto li,
.tipoPago li {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
    float: none;
    font-weight: 700
}

.tipoCosto li {
    padding: 2em 1em
}

.day,
.hour,
.tipoPago {
    margin: 0 auto 1em !important
}

@media only screen and (max-width:768px) {
    .btn.btn-sm {
        padding: 3.5em !important
    }
}

@media only screen and (max-width:480px) {

    body,
    html {
        font-size: 20px
    }

    .navbar-nav,
    .padding0 .navbar-header {
        margin: 0
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        height: 5em !important
    }

    .navbar-toggle {
        margin-top: 22px
    }

    .h1,
    h1 {
        font-size: 30px
    }

    .coverLanding {
        padding: 13em 0
    }

    .fa-bars,
    .fa-times {
        font-size: 1.5em
    }

    .concitaFooter,
    .concitaFooterSections {
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
        height: 4em;
        padding: 0 4em !important
    }

    .newService {
        border: none;
        padding: 0;
        font-size: 1em
    }

    .concitaFooterSections {
        height: auto
    }

    .form {
        width: 100%
    }

    .categorias li {
        min-width: 9em;
        margin-right: 0
    }

    .checkboxField {
        margin: 1em 3em
    }

    .categorias,
    .cupo,
    .day,
    .periodo,
    .tipoPago {
        width: 100%
    }

    .day {
        margin: 2em auto
    }

    .cupo li {
        min-width: 5.5em
    }

    .day li {
        min-width: 2.3em;
        padding: 1em 0;
        font-size: 1em
    }

    .hour li {
        padding: 2em 1.65em;
        margin-right: 0
    }

    .periodo li,
    .tipoPago li {
        padding: 1em;
        min-width: 8.5em;
        margin-right: 0
    }

    .tipoPago li {
        font-size: .75em;
        min-width: 7.75em
    }

    .cancel,
    .confirm,
    .edit {
        width: 49%
    }

    #serviceConfirm,
    #serviceCreating,
    #serviceDeleteConfirm,
    #serviceNotification {
        top: 15%
    }

    .timeline {
        margin: 0
    }

    .timeline>li>.timeline-item {
        margin-left: 85px;
        font-size: 14px
    }

    .month-controls span {
        font-size: .8em
    }

    .welcomeTitle {
        text-align: center
    }

    .concitaFooter i {
        padding: .5em 0 !important;
        border-bottom: 1px solid gray;
        display: block
    }

    .sectionFooter {
        padding: 1em 0
    }

    .sectionFooter:last-child {
        margin-bottom: 1em
    }

    .typeLogin,
    .typeLoginRegister {
        width: 10.62em
    }

    .loginForm {
        width: 21.5em
    }

    .containerCardConfirm,
    .containerCardNoConfirm {
        float: none
    }

    #main_landing .container .row,
    .coverLanding .row {
        margin-top: 3em
    }

    #menu ul>li>a {
        text-indent: 0
    }

    #main_content {
        top: 76px
    }
}

.rounded {
    border-radius: 10em;
    width: 3em;
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em
}

.accepted,
.cancelled {
    color: #fc2852;
    font-family: robotobold, serif;
    font-size: 1.15em
}

.accepted {
    color: #03c39a
}

.marginBottom1em {
    border-bottom: 1em solid transparent
}

.opacity {
    opacity: .5
}

.paginate a {
    color: #000;
    padding: 10px 16px;
    text-decoration: none
}

.paginate a.active {
    background-color: #fc2852;
    color: #fff;
    border-radius: 3px
}

.pagination a:hover:not(.active) {
    background-color: #ddd
}

.pagination a:hover:not(.active) .menu {
    position: absolute;
    background-color: #fff;
    width: 130px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    margin-left: 20px;
    text-align: right;
    color: #342756
}

.fc-button {
    color: #2d2d2d !important;
    font-size: 1.2em !important;
    border-radius: 2px !important;
    background: #fff
}

.full-calendar {
    font-family: robotolight, serif
}

.fc-today {
    background-color: #ffeff2 !important
}

.fc-center {
    text-transform: capitalize
}

.appointment {
    border: none;
    font-size: 1em;
    border-radius: 1px
}

.appointment-success {
    background-color: #02c59b
}

.appointment-warning {
    background-color: #a9b71a
}

.appointment-danger {
    background-color: #fb2750
}

.appointment-event {
    background-color: #2d2d2d;
    color: #fff
}