@media only screen and (max-width: 767px) {
    header .img-wave {
        display: none;
    }

    .input-group input,
    textarea {
        padding: 1.3rem !important;
        width: 100% !important;
    }

    .modal {
        left: 0em !important;
    }

    #myNavbar {
        width: 100% !important;
    }

    .navbar-right {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .div-info-header .p1 {
        font-size: 40px!important;
    }

    .buttonSignIn {
        padding: 0.7rem !important;
    }

    .loginForm {
        width: 19.5em !important;
    }

    .sectionSignIn {
        display: flex !important;
        right: 0% !important;
        max-width: 18.5em !important;
    }

    .header-provedor {
        display: flex !important;
        align-items: initial !important;
        flex-direction: column;
    }

    .d-button-editar,
    .d-button-eliminar,
    .btn-cancelar,
    .btn-add-calendar,
    .filtros li,
    .btn-red-edit,
    .submitSignIn,
    .btn-cancel {
        padding: 0.5rem !important;
        font-size: 0.7rem !important;
    }

    .containerInfo {
        min-height: 15em !important;
    }

    .dangerContainer {
        width: 103.5% !important;
    }

    .d-item-categoria-ns {
        margin-left: 1rem;
    }

    .d-dia {
        margin-left: 1rem !important;
    }

    .sec-navbar {
        width: 100% !important;
    }

    .btn-nuevo-evento {
        font-size: 1rem !important;
    }

    .btn-red-form {
        width: 90% !important;
        margin-left: 1rem !important;
    }

    .btn-primary-modal,
    .btn-secondary-modal {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .btn-apply {
        width: 50% !important;
        top: 13% !important;
        right: 9% !important;
    }

    .dias {
        flex-direction: column !important;
    }

    .d-dia {
        padding: 1rem !important;
        width: 90% !important;
    }

    .citas {
        width: 100% !important;
        margin-top: 1rem !important;
    }

    .navbar-toggler {
        display: initial !important;
        margin-left: auto !important;
    }

    .navbar-pages {
        padding: 4rem 3rem !important;
    }

    .navbar-pages .navbar-brand img {
        width: 100px !important;
    }

    .navbar-pages .navbar-brand {
        padding: 0rem !important;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .navbar-pages .navbar-collapse {
        position: absolute;
        top: 10px;
        display: flex;
        flex-direction: column;
    }

    .uib-tab a {
        padding: 1rem !important;
        border-radius: 5px !important;
        color: #f8313e;
    }

    .toRight {
        float: initial;
        margin-left: 3rem;
    }

    .navbar-pages .toRight {
        position: absolute;
        top: 23px;
        right: 63px;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        height: auto !important;
    }

    .navbar-pages .navbar-toggler {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-right: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .welcomeTitle.dangerContainer {
        margin-top: 2rem !important;
    }

    .calendar-wrapper .calendar-days .btn.btn-sm.active {
        background-color: #f8313e !important;
    }

    .calendar-wrapper .calendar-days .btn.btn-sm {
        border-radius: 5px !important;
    }

    .month-controls .btn-group button,
    .month-controls .text-center {
        border-radius: 5px !important;
        padding: 0.4rem !important;
    }

    .month-controls .text-center {
        background-color: #f8313e !important;
    }

    .list-nav {
        display: inline-flex;
        position: relative;
        margin-top: 2rem;
        margin-right: auto;
        float: left;
    }

    .list-nav li a {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .inputImage {
        width: 100% !important;
        padding: 2rem !important;
        margin-left: 15px;
    }

    .div-info-header .p2 {
        font-size: 18px!important;
    }

    .div-info-header {
        padding-top: 100px;
    }

    .div-item-services .p2 {
        padding-bottom: 70px;
    }

    .div-item-paquetes {
        margin-bottom: 60px;
    }

    .p-atencion {
        text-align: center;
        padding-bottom: 20px;
    }

    .p-phone {
        padding-bottom: 20px;
    }

    footer .p1 {
        text-align: center;
    }

    footer .p2 {
        text-align: center;
        padding-top: 10px;
    }

    .d-title-metodos {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .navbar-toggle .fa-bars {
        color: #fff !important;
        margin-top: -2rem;
    }

    .row-perfil {
        padding-top: 15px;
    }

    .d-lu {
        margin-left: 0px;
    }

    .d-fecha-agendar-cita {
        padding-top: 50px;
    }

    .d-form-login {
        padding-left: 25px;
        padding-right: 25px;
    }

    .d-calendar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .d-btn-ver-cita {
        text-align: right;
    }

    .d-categoria-total {
        display: block;
        max-height: calc(100vh - 405px);
        overflow: auto;
    }

    .modal-ver-categorias .modal-lg {
        margin-top: 20px;
    }

    .btn-aplicar-filtros {
        width: 100%;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
    }

    .d-filtros {
        display: block;
    }

    .btn-filtros {
        width: 100%;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
    }

    .d-close-categorias {
        text-align: right;
    }

    .d-close-categorias > i {
        margin-right: -10;
        padding: 0px !important;
    }

    .d-btns-tyc {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .d-btns-social-footer .p2{
    text-align: center;
    
}
    .btn-social {
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
    
    .d-cita-pro{
        margin-top: 40px;
    }


}


@media only screen and (max-width: 990px) {
    .div-item-paquetes {
        margin-bottom: 60px;
    }
}
