@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

@font-face {
    font-family: "Roboto" !important;
    src: url(../font/Gilroy-Bold.ttf);
}

body {
    font-family: "Roboto" !important;
}

p {
    font-family: "Roboto" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto" !important;
}


.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.navbar-toggler {
    display: none !important;
}

.back-header {
    background-image: url(../img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    animation: slide 15s infinite;
}

.navbar-pages .navbar-brand img {
    width: 100px !important;
}

.navbar-default .navbar-header .navbar-brand > img {
    width: 100px !important;
}


@keyframes slide {
    15% {
        background-image: url(../img/bg-3.jpg);
    }

    45% {
        background-image: url(../img/bg-2.jpg);
    }

    70% {
        background-image: url(../img/bg-1.jpg);
    }
}

.navbar-index {
    background-color: transparent !important;
    padding-top: 30px;
}

.navbar-brand img {
    width: 86px !important;
    margin-right: 50px !important;
}

.navbar-brand a:hover {
    background-color: transparent !important;
}

.navbar-service {
    width: 100%;
    background: #fff !important;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    position: relative;
}

.navbar-index .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    font-family: "Roboto" !important;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.4s;
}

.detail-service {
    display: flex;
    margin-top: 2rem;
}

.btn-add-calendar {
    border: none !important;
    background-color: #f8313e;
    padding: 1.5rem;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.btn-add-calendar:focus,
.btn-add-caledar:active {
    color: #FFFFFF;
}

.input-costo {
    width: 100% !important;
    font-size: 14px !important;
    padding: 2rem !important;
    border-radius: 5px !important;
    transition: 0.4s !important;
    background-color: transparent !important;
}

.modal-delete {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-add-calendar:hover {
    color: #fff;
}

.uib-tab a {
    padding: 2.3rem !important;
    border-radius: 5px !important;
    color: #f8313e;
}

.uib-tab.active a {
    background-color: #f8313e !important;
    color: #fff;
}

.calendar-wrapper .calendar-days .btn.btn-sm.active {
    background-color: #f8313e !important;
}

.calendar-wrapper .calendar-days .btn.btn-sm {
    border-radius: 5px !important;
}

.month-controls .btn-group button,
.month-controls .text-center {
    border-radius: 5px !important;
    padding: 1rem !important;
}

.month-controls .text-center {
    background-color: #f8313e !important;
}

.dias {
    display: flex !important;
    flex-direction: row !important;
}

.custom-control-inline {
    display: inline-flex;
    margin-right: 2rem;
}

.detail-service button {
    margin-right: 1rem;
}

.input-group-btn {
    position: absolute !important;
    top: 50% !important;
    left: 80% !important;
    background: transparent !important;
}

.input-group-btn button {
    border: none !important;
    font-size: 20px !important;
    background: transparent !important;
}

.navbar-index .nav-link:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    transition: 0.4s;
}

.navbar-index .nav-item {
    padding-left: 10px;
}

.active .nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.img-wave {
    width: 100%;
}

.d3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d3 button {
    width: 40%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

button:focus,
button:active {
    box-shadow: none;
    outline: 0px !important;
}

.btn-round-red {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
}

.btn-round-red:hover {
    background-color: white;
    transition: 0.4s;
    color: #252525 !important;
}

.div-info-header {
    padding-top: 145px;
    text-align: center;
    padding-bottom: 165px;
}

.div-info-header .p1 {
    font-family: "Roboto" !important;
    color: white;
    font-size: 70px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    font-weight: 600;
}

.div-info-header .p2 {
    font-family: "Roboto" !important;
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.input-group input,
.form-group input {
    font-size: 14px !important;
    padding: 2rem !important;
    border-radius: 5px !important;
    transition: 0.4s !important;
    background-color: transparent !important;
}

.select-input {
    font-size: 14px !important;
    text-align: center;
    height: 50px;
}

.row {
    margin: 0 !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.tipoCosto {
    width: 100% !important;
}

.input-group input:focus,
.input-group input:active,
.form-group input:focus,
.form-group input:active,
.select-input:focus,
.select-input:active,
.input-costo:focus,
.input-costo:active {
    box-shadow: none !important;
    outline: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.btn-red-edit {
    background-color: #f8313e !important;
    color: #fff !important;
    padding: 2rem !important;
    border: none !important;
    border-radius: 5px !important;
}

.btn-cancel {
    background-color: #2b2a2a !important;
    color: #fff !important;
    padding: 2rem !important;
    border: none !important;
    border-radius: 5px !important;
    margin-bottom: 1rem !important;
}

.div-info-header a {
    /* color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
  border: 1.5px solid rgba(255, 255, 255, 0.6);*/
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.4s;
    font-family: "Roboto" !important;
    font-size: 18px;
    font-weight: 600;
}

.div-info-header a:active,
.div-info-header a:focus {
    box-shadow: none;
    outline: 0;
}

.div-info-header a:hover {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 1);
    color: #f8313e;
}

.btn-header {
    color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 100px !important;
    border: 1.5px solid rgba(255, 255, 255, 0.6) !important;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.4s;
    font-family: "Roboto" !important;
    font-size: 18px;
    font-weight: 400 !important;
}

.btn-header:active,
.btn-header:focus {
    box-shadow: none;
    outline: 0;
}

.btn-header:hover {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 1);
    color: #000000 !important;
}



.sec-services {
    padding-top: 70px;
    padding-bottom: 70px;
}

.div-sec-title {
    padding-bottom: 100px;
    text-align: center;
}

.div-sec-title .p1 {
    font-family: "Roboto" !important;
    letter-spacing: 5px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.div-sec-title .p2 {
    font-family: "Roboto" !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.div-sec-title .line-red {
    border-top: 3px solid #f8313e;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.div-item-services {
    text-align: center;
}

.div-item-services .icon-services {
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
    color: #f8313e !important;
    cursor: default;
    transition: 0.4s;
}

.div-item-services .icon-services:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.12);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.12);
    transition: 0.4s;
}

.div-item-services .p1 {
    font-family: "Roboto" !important;
    padding-top: 55px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 700;
}

.div-item-services .p2 {
    font-family: "Roboto" !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6);
    line-height: 25px;
}

.sec-paquetes {
    background-color: #fafbfe;
    padding-top: 70px;
    padding-bottom: 100px;
}

.row-paquetes {
    margin-top: -40px;
}

.div-item-paquetes {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 40px;
    padding-bottom: 45px;
    transition: 0.4s;
}

.div-item-paquetes:hover {
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.15);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.15);
    transition: 0.4s;
    margin-top: -4px;
}

.title-item-paquetes {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.title-item-paquetes .p1 {
    font-family: "Roboto" !important;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    font-weight: 700;
}

.title-item-paquetes .p2 {
    font-family: "Roboto" !important;
    letter-spacing: 1px;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
    padding-top: 10px;
}

.title-item-paquetes .p2 sup {
    font-family: "Roboto" !important;
    letter-spacing: 1px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

.title-item-paquetes .p3 {
    font-family: "Roboto" !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding-top: 11px;
}

.info-item-paquetes {
    text-align: center;
}

.info-item-paquetes .p1 {
    font-family: "Roboto" !important;
    color: rgba(0, 0, 0, 0.8);
    line-height: 45px;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.info-item-paquetes a {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
    font-family: "Roboto";
}

.info-item-paquetes a:hover {
    background-color: #2b2a2a;
    transition: 0.4s;
}

.sec-contacto {
    padding-top: 70px;
    padding-bottom: 100px;
}

.form-contacto {
    margin-top: -40px;
}

.form-contacto input {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 22px;
    font-family: "Roboto" !important;
    font-size: 15px;
    transition: 0.4s;
}

.form-contacto input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.form-contacto input:active,
.form-contacto input:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2b2a2a;
    transition: 0.4s;
}

.form-contacto textarea {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-family: "Roboto" !important;
    font-size: 15px;
    transition: 0.4s;
}

.form-contacto textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.form-contacto textarea:active,
.form-contacto textarea:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2b2a2a;
    transition: 0.4s;
}

.form-contacto .form-group {
    margin-bottom: 20px;
}

.btn-enviar-mensaje {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 16px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
    margin-top: 15px;
}

.btn-enviar-mensaje:hover {
    background-color: #2b2a2a;
    transition: 0.4s;
}

.sec-social {
    background-color: #fafbfe;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-atencion {
    margin-bottom: 0px;
    font-family: "Roboto" !important;
    color: rgba(0, 0, 0, 0.2);
    font-size: 22px;
}

.p-phone {
    font-family: "Roboto" !important;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    padding-top: 1px;
    text-align: center;
}

.p-phone i {
    color: #f8313e;
    margin-right: 15px;
}

footer {
    background-color: #2b2a2a;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .p1 {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto" !important;
    font-size: 15px;
    margin-bottom: 0px;
}

footer .p2 {
    text-align: right;
    margin-bottom: 0px;
}

.btn-social {
    color: rgba(255, 255, 255, 0.3);
    font-size: 22px;
    margin-right: 30px;
    transition: 0.4s;
}

.btn-social:hover {
    color: #f8313e;
    transition: 0.4s;
}

.navbar-pages {
    background-color: transparent !important;
}

.sec-navbar {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    position: relative;
}

.navbar-pages .nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Roboto" !important;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.4s;
    font-weight: 600;
}

.navbar-pages .nav-link:hover {
    color: black !important;
    transition: 0.4s;
}

.navbar-index .nav-item {
    padding-left: 10px;
}

.navbar-pages .active .nav-link {
    color: black !important;
}

.btn-round-red-pages {
    background-color: #f8313e;
    color: white !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: 0.4s;
}

.btn-round-red-pages:hover {
    background-color: black;
    transition: 0.4s;
    color: white !important;
}

.sec-gray {
    background-color: #fafbfe;
    padding-top: 100px;
    padding-bottom: 100px;
}

.d-form-login {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.4s;
}

.navbar-pages {
    display: flex;
}

.hr-form {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #f8313e;
    margin: 1em 0;
    padding: 0;
    width: 45px;
}

.title-form {
    font-family: "Roboto" !important;
    font-size: 25px;
    margin-bottom: 5px;
}

.sub-title-form {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.form-login,
.form-registro {
    padding-top: 20px;
}

.input-form {
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 25px;
    border-radius: 5px;
    transition: 0.4s;
    background-color: transparent;
}

.selectHourA {
    width: 100%;
    font-size: 14px;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.4s;
    background-color: transparent;
}

.input-form::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.input-form:focus,
.input-form:active,
.selectHourA:active,
.selectHourA:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-apply {
    background-color: #f8313e;
    border: none;
    color: white;
    font-size: 15px;
    width: 20%;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: 0.4s;
    border-radius: 5px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 11%;
    right: 20%;
}

.btn-apply:hover {
    color: #fff;
}

.btn-red-form {
    background-color: #f8313e;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: 0.4s;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
}

.btn-red-form:hover {
    background: #2b2a2a;
    color: white;
    transition: 0.4s !important;
}

.bottom-text-form {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.9;
}

.bottom-text-form a {
    color: #f8313e;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
}

.bottom-text-form a:hover {
    color: black;
    transition: 0.4s;
}

.modal-content {
    border: none;
    text-align: center;
    padding-bottom: 20px;
}

.modal-content-realizar-cita {
    border: none;
    text-align: center;
    padding-bottom: 20px;
    background-color: transparent;
}

.modal-header {
    border: none;
    padding-bottom: 0px;
}

.modal-footer {
    text-align: center !important;
}

.modal-body {
    padding-top: 0px;
}

.modal-title {
    padding: 0px;
    color: #9fa1a2;
    font-size: 25px;
}

.info-modal {
    padding-top: 10px;
}

.info-modal .t1 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-bottom: 10px;
}

.info-modal .t2 {
    font-size: 20px;
}

.btns-modal a {
    background-color: #edeff2;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
    margin-left: 5px;
    margin-right: 5px;
}

.btns-modal a:hover {
    background-color: #ddf9ff;
    color: #00899d;
}

.icon-atencion {
    padding-bottom: 7px;
}

.icon-atencion img {
    width: 85px;
}

.username-nav {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Roboto" !important;
    font-size: 13px;
    transition: 0.4s;
    font-weight: 600;
    padding-top: 15px;
    padding-right: 40px;
}

.row-servicios-disp {
    padding-top: 20px;
    padding-bottom: 30px;
}

.d-input-search {
    padding-top: 12px;
}

.header-provedor {
    display: flex !important;
    align-items: center !important;
}

.input-search-servicios {
    background-color: rgba(0, 0, 0, 0.05);
    border: none !important;
    padding-left: 40px !important;
    padding-right: 60px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-radius: 100px !important;
    background-image: url(../img/busqueda.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: bottom 20px right 30px;
    transition: 0.4s;
    font-size: 15px;
}

.input-search-servicios::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-search-servicios:active,
.input-search-servicios:focus {
    box-shadow: none !important;
    outline: 0 !important;
    transition: 0.4s !important;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08) !important;
    box-shadow: 0px 20px 50px 0px rgba(12, 0, 46, 0.08) !important;
    background-color: #fff !important;
}

.d-ver-categorias {
    text-align: right;
}

.btn-ver-categorias {
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #f8313e;
    transition: 0.4s;
    background: transparent !important;
}

#serviceConfirm .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-ver-categorias:focus,
.btn-ver-categorias:active {
    box-shadow: none;
    outline: 0;
}

.item-servicio-usuario {
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    border-radius: 15px !important;
    margin-bottom: 30px;
}

#main_content {
    padding: 0 !important;
}

.d-image {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.list-nav {
    display: inline;
    position: absolute;
    top: 40%;
    margin-right: auto;
}

.fa-plus {
    color: initial !important;
    float: initial !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.list-nav li {
    display: inline-block;
    margin-left: 1rem;
}

.list-nav li a {
    font-size: 1.3rem;
}

.toRight {
    float: right;
}

#navbarText {
    width: 100% !important;
}

#servicio-usuario-1 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-2 {
    background-image: url(../img/servicio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-3 {
    background-image: url(../img/servicio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-4 {
    background-image: url(../img/servicio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-5 {
    background-image: url(../img/servicio-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}

#servicio-usuario-6 {
    background-image: url(../img/servicio-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-7 {
    background-image: url(../img/servicio-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-8 {
    background-image: url(../img/servicio-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

.d-info-servicio-usuario {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 13px;
}

.d-info-servicio-usuario .t1 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.d-info-servicio-usuario .t1 img {
    width: 45px;
    margin-right: 15px;
}

.d-info-servicio-usuario .d2 {
    padding-top: 0px;
    padding-bottom: 7px;
}

.d-info-servicio-usuario .d2 .t1 {
    font-size: 12px;
    margin-bottom: 0px;
}

.d-info-servicio-usuario .d2 .t2 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.d-info-servicio-usuario .d3 {
    text-align: center;
    padding-top: 10px;
}

.btn-realizar-cita {
    background-color: #d2faff;
    color: #008a9f;
    font-weight: 600;
    font-size: 12px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-eliminar {
    background-color: rgb(255, 94, 94);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-eliminar:active,
.btn-eliminar:focus {
    box-shadow: none;
    outline: 0;
}

.btn-realizar-cita:active,
.btn-realizar-cita:focus {
    box-shadow: none;
    outline: 0;
}

.row-foto-nombre-perfil img {
    width: 140px;
}

.d-info-nombre-perfil {
    padding-top: 32px;
}

.d-info-nombre-perfil .t1 {
    font-size: 25px;
    margin-bottom: 7px;
}

.d-info-nombre-perfil .t2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.d-info-nombre-perfil .t2 b {
    font-size: 16px;
    color: #01c75b;
    font-weight: 600;
    padding-left: 10px;
}

.row-perfil {
    padding-top: 50px;
}

.d-info-perfil {
    padding-top: 40px;
    padding-bottom: 50px;
}

.d-info-perfil .d2 {
    padding-bottom: 25px;
}

.d-info-perfil .d2 .t1 {
    margin-bottom: 3px;
    font-size: 15px;
}

.d-info-perfil .d2 .t2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.d-title-metodos {
    padding-top: 30px;
}

.d-title-metodos .t1 {
    font-size: 25px;
    margin-bottom: 8px;
}

.d-title-metodos .t2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.d-item-tarjeta-nueva {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    text-align: center;
    margin-bottom: 25px;
    transition: 0.4s;
}

.d-item-tarjeta-nueva:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    transition: 0.4s;
}

.d-item-tarjeta-nueva i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.1);
}

.d-item-tarjeta-nueva .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    margin-bottom: 0px;
}

.d-item-tarjeta {
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    margin-bottom: 25px;
    transition: 0.4s;
}

.d-item-tarjeta:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    transition: 0.4s;
}

.d-item-tarjeta .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    margin-bottom: 0px;
}

.d-img-card img {
    width: 40px;
}

.d-number-card .t1 {
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.d-name-card {
    padding-top: 3px;
}

.d-name-card .t1 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.d-name-card .t2 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.d-btn-card {
    text-align: right;
}

.d-btn-card a {
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.3);
}

.d-btn-card a:active,
.d-btn-card a:focus {
    box-shadow: none;
    outline: 0;
}

.p-modal {
    text-align: left;
    font-size: 18px;
}

.modal-gray {
    background-color: #f4f4f4;
}

.d-item-modal {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.d-item-modal {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.d-item-modal .t1 {
    margin-bottom: 0px;
}

.item-modal-active {
    background-color: #f8313e !important;
    color: white !important;
}

.row-filtrar-modal {
    padding-top: 20px;
}

.d-item-modal-filtrar {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.d-item-modal-filtrar {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.d-item-modal-filtrar .t1 {
    margin-bottom: 0px;
}

.d-item-modal-filtrar i {
    font-size: 30px;
    padding-bottom: 5px;
}

.d-btn-aplicar-filtros {
    text-align: left;
    padding-top: 20px;
}

.btn-primary-modal {
    background-color: #d2faff;
    color: #008a9f;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-primary-modal:active,
.btn-primary-modal:focus {
    box-shadow: none;
    outline: 0;
}

.btn-secondary-modal {
    background-color: #f4f4f4;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-secondary-modal:active,
.btn-secondary-modal:focus {
    box-shadow: none;
    outline: 0;
}

.modal-header-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay-black {
    position: relative;
    z-index: 1;
}

.overlay-black:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00293c+1,26445c+100 */
    background: black;
    opacity: 0.5;
    /* IE6-9 fallback on horizontal gradient */
    z-index: -2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay-black-2 {
    position: relative;
    z-index: 1;
}

.overlay-black-2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00293c+1,26445c+100 */
    background: black;
    opacity: 0.2;
    /* IE6-9 fallback on horizontal gradient */
    z-index: -2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.close-white {
    color: white;
    text-shadow: none;
}

.close-white:hover {
    color: white;
}

.close-white:active,
.close-white:focus {
    box-shadow: none;
    outline: 0;
}

.modal-body-realizar-cita {
    padding-top: 20px;
    text-align: left;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title-modal {
    font-size: 20px;
}

.row-info-servicio {
    padding-top: 10px;
    padding-bottom: 20px;
}

.d-item-info-servicio .t1 {
    margin-bottom: 2px;
    font-size: 14px;
}

.d-item-info-servicio .t2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.row-btns-modal {
    padding-bottom: 20px;
}

.sub-title {
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    padding-top: 10px;
}

.d-img-upload {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.05);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.05);
    padding-top: 70px;
    padding-bottom: 70px;
    transition: 0.4s;
    text-align: center;
}

.d-img-upload i {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.18);
}

.row-form-nuevo-servicio {
    padding-top: 50px;
}

.d-up-ns {
    padding-top: 40px;
    padding-bottom: 40px;
}

.custom-file-label {
    background-color: transparent;
    border: none;
    font-weight: 400;
    padding-left: 0px;
}

.custom-file-input:active,
.custom-file-input:focus {
    box-shadow: none;
    outline: 0;
}

.d-item-categoria-ns {
    background-color: white;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.d-item-categoria-ns {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.05);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.05);
}

.d-item-categoria-ns .t1 {
    margin-bottom: 0px;
}

.d-item-categoria-ns-active {
    background-color: #f8313e !important;
    color: white !important;
}

.d-item-categoria-ns i {
    font-size: 30px;
    padding-bottom: 5px;
}

.text-muted {
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.5) !important;
}

.p-form {
    font-size: 15px;
    margin-bottom: 10px;
}

.d-dia {
    padding: 2rem !important;
    background-color: white;
    text-align: center;
    margin-left: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.filtros li {
    padding: 2rem !important;
    background-color: white;
    text-align: center;
    margin-left: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.d-dia-active {
    background-color: #f8313e !important;
    color: white !important;
}

.d-dia-active2 {
    border-width: thick !important;
    border-style: solid !important;
    border-color: rgb(143, 238, 254) !important;
    /*background-color: #f8313e !important;*/
    color: white !important;
}


/* Reset Select */

.select-horario {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #e9ecef;
    background-image: none;
}


/* Remove IE arrow */

.select-horario::-ms-expand {
    display: none;
}


/* Custom Select */

.select {
    position: relative;
    display: flex;
    height: 5em;
    line-height: 3;
    background-color: #f4f4f4 !important;
    overflow: hidden;
    border-radius: 0.5em;
    text-align: center;
    text-align-last: center;
}

.select-horario {
    flex: 1;
    padding: 0 0.5em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.row-select-horario {
    padding-top: 20px;
}

.d-row-right {
    text-align: center;
    padding-top: 56px;
}

.d-row-right i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.d-item-costo {
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-agendar-cita {
    padding-top: 50px;
}

.d-img-agendar-cita {
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.d-agendar-cita {
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    background-color: white;
    border-radius: 15px;
}

.d-info-agendar-cita {
    padding: 40px;
}

.small-text {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

.btn-lg-blue {
    background-color: #d2faff;
    color: #008a9f;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.btn-lg-blue:active,
.btn-lg-blue:focus {
    box-shadow: none;
    outline: 0;
}

.input-fecha {
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #e9ecef;
    overflow: hidden;
    border-radius: 0.5em;
    text-align: center;
    text-align-last: center;
    font-size: 14px;
    border: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 600;
    padding-left: 33px;
}

.input-fecha:active,
.input-fecha:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.d-head {
    background-color: #eeeff2;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.d-head .active {
    color: black;
}

.d-head a {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 5px;
    text-decoration: none;
    transition: 0.4s;
}

.d-head a:hover {
    color: black;
}

.row-mi-agenda {
    padding-top: 30px;
}

.d-calendar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
}

#calendar {
    width: 100%;
}

.fc-event {
    cursor: pointer !important;
    border-radius: 0 !important;
    border: none !important;
    text-align: left;
}

.fc-event-title {
    color: #3788D8;
    font-weight: 500 !important;
}

.fc-event-time {
    color: #3788D8;
}


.fc-center h2::first-letter {
    text-transform: uppercase;
}

.fc-center h2 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.fc-header-toolbar {
    padding-bottom: 15px;
}

.fc-button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    transition: 0.4s;
}

.fc-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
}

.fc-button:focus,
.fc-button:active {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
}

.fc-day-header {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
}

.fc th {
    text-align: r;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
}

.fc td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.fc-event,
.fc-event-dot {
    background-color: #d2faff;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
}

.fc-title {
    font-size: 12px;
    color: #008a9f;
}

.fc-time {
    color: #008a9f;
}

.d-cita {
    margin-bottom: 1rem;
}

.d-cita-pro {
    margin-bottom: 2rem !important;
}

.d-cita-pro .d-title {
    background-color: #d2faff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #008a9f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}

.d-cita-pro .d-info {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.d-cita-pro .d-img-name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.d-cita-pro .d-img-name img {
    width: 60px !important;
    float: left !important;
    margin-right: 20px !important;
    height: 60px !important;
}

.d-cita-pro .d-img-name .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-top: 8px;
}

.d-cita-pro .d-img-name .t2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-cita-pro .d-datos .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-cita-pro .d-datos .t2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.d-cita-pro .d-datos {
    padding-top: 10px;
}

.d-item-citas {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.d-item-citas .t1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-item-citas .t2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-item-citas .d-img-name img {
    width: 60px;
    float: left;
    margin-right: 20px;
}

.d-item-citas .d-img-name .t1 {
    font-size: 17px;
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-item-citas .d-img-name .t2 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.d-item-citas .d-img-name .t2 b {
    color: #02c59b;
    font-weight: 600;
}

.d-text-cita .t1 {
    font-size: 17px;
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-text-cita .t2 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.d-text-cita {
    padding-top: 20px;
}

.btn-ver-cita {
    background-color: #d2faff;
    color: #008a9f;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn-ver-cita:active,
.btn-ver-cita:focus {
    box-shadow: none;
    outline: 0;
}

.btn-ver-cita i {
    margin-right: 10px;
}

.d-alert-citas {
    padding-top: 13px;
}

.alert-info {
    background-color: #d2faff;
    color: #008a9f;
    font-size: 17px;
}

.alert-info b {
    font-weight: 700;
}

.d-btn-nuevo-evento {
    padding-top: 20px;
    margin-bottom: 3rem;
}

.btn-nuevo-evento {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-nuevo-evento i {
    margin-right: 10px;
    opacity: 0.5;
}

.btn-nuevo-evento:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.select-nuevo-evento {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.citas {
    width: 41%;
    overflow-y: scroll;
    max-height: 710px;
}

.d-button-editar {
    width: 100%;
    border: none;
    padding: 1.5rem;
    background: #252525;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.d-button-eliminar {
    width: 100%;
    border: none;
    padding: 1.5rem;
    background: #f8313e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.btn-cancelar {
    width: 100%;
    border: none;
    padding: 1.5rem;
    background: #f8313e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.bg-gray {
    background-color: #F4F4F4;
}

.sec-menu-movil {
    padding-top: 50px;
    padding-bottom: 100px;
}

.d-menu-lg {
    border-radius: 10px;
    background-color: white;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.d-menu-lg .t1 {
    position: absolute;
    bottom: 12px;
    margin-bottom: 0px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Poppins";
    font-size: 14px;
    color: white;
}

.automotriz {
    background-color: #F8313E !important;
    background-image: url('../img/automotriz.png');
    background-size: 140px;
    background-position: 70px -10px;
    background-repeat: no-repeat;
}

.citas-medicas {
    background-color: #2B2A2A !important;
    background-image: url('../img/citas-medicas.png');
    background-size: 180px;
    background-position: 55px -35px;
    background-repeat: no-repeat;
}

.row-menu-2 {
    padding-top: 25px;
}

.d-menu {
    margin-bottom: 15px;
}

.d-menu .item {
    border-radius: 10px;
    height: 70px;
    text-align: center;
    font-size: 26px;
    padding-top: 15px;
    color: #FFFFFF;
    width: 100%;
}

.d-menu .t1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px;
    padding-top: 5px;
}

.d-menu .d-1 {
    background-color: #FCBABE;
}

.d-menu .d-2 {
    background-color: #FA757E;
}

.d-menu .d-3 {
    background-color: #F8313E;
}

.d-menu .d-4 {
    background-color: #2B2A2A;
}

.d-menu .d-5 {
    background-color: #B8B8B8;
}

.d-menu .d-6 {
    background-color: #F8313E;
}

.d-menu .d-7 {
    background-color: #FCBABE;
}

.d-menu .d-8 {
    background-color: #FA757E;
}

.d-item-modal-nissan {
    background-color: #C01533 !important;
    background-image: url('../img/logo-nissan.png');
    background-size: 140px;
    background-position: 70px -10px;
    background-repeat: no-repeat;
}

.modal-ver-categorias .modal-lg {
    width: 90% !important;
}

.d-categoria-total {
    display: block;
    max-height: calc(100vh - 335px);
    overflow: auto;
}

.d-categoria-total::-webkit-scrollbar {
    width: 5px;
}

.d-categoria-total::-webkit-scrollbar-track {
    background: #E1E1E1;
    border-radius: 10px;
}

.d-categoria-total::-webkit-scrollbar-thumb {
    background: #AFAFAF;
    border-radius: 10px;
    background-clip: padding-box;
    padding: 10px;
}

.p-modal-categorias {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.p-modal-categorias.filtrar {
    padding-left: 17px;
}

.modal-ver-categorias .modal-header {
    padding-left: 33px;
    padding-right: 33px;
    margin-bottom: 20px;
}

.modal-ver-categorias .modal-header .filtros {
    margin-top: 20px;
    display: block;
}

.modal-ver-categorias .modal-header .filtros li {
    margin-left: 0px;
}

.d-btn-aplicar-filtros {
    text-align: right;
}

.btn-aplicar-filtros {
    background-color: #f8313e;
    border: none;
    color: white;
    font-size: 15px;
    width: auto;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: 0.3s;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

.btn-aplicar-filtros:hover {
    color: #FFFFFF;
}

.d-filtros {
    display: flex;
}

.btn-filtros {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    width: 180px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: 0.3s;
    border-radius: 5px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, .5);
    margin-right: 15px;
}

.btn-filtros.active {
    background-color: #f8313e;
    border: 1px solid #f8313e;
    color: #FFFFFF;
}

.btn-filtros:hover {
    background-color: #f8313e;
    border: 1px solid #f8313e;
    color: #FFFFFF;
}

.d-close-categorias {
    text-align: right;
}


.input-group-text > i {
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 2;
    padding: 5px;
    cursor: pointer;

}

.item-servicio-usuario .d3 {
    padding-bottom: 10px;
}

.fc-col-header {
    text-transform: capitalize !important;
}

.fc-col-header-cell-cushion {
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 12px;
    font-weight: 300;
}

.fc-theme-standard td {
    font-size: 12px;
}

.fc-daygrid-day-number {
    color: rgba(0, 0, 0, .5);

}

.fc-theme-standard th {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

.fc th {
    text-align: center;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.fc table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em !important;
}

.fc .fc-toolbar-title {
    font-size: 2.4em !important;
    margin: 0;
    color: rgba(0, 0, 0, .5);
    text-transform: capitalize;
}

.fc .fc-button-primary:disabled {
    color: #fff;
    color: var(--fc-button-text-color, #fff);
    background-color: #FFFFFF !important;
    background-color: var(--fc-button-bg-color, #2C3E50);
    border-color: #2C3E50 !i;
    border-color: var(--fc-button-border-color, #2C3E50);
    border: none !important
}

.fc-month-button {
    font-size: 12px;
    color: rgba(0, 0, 0, .5) !important;
}

.fc-button-primary {
    height: 30px !important;
    border-radius: 5px !important;
    border: none !important;
}

.fc-button-active {
    background-color: #F8313E !important;
    color: #FFFFFF !important;
    border: none !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.fc-prev-button {
    padding-top: 7px !important;
    padding-left: 0px !important;
    padding-right: 2px !important;
}

.fc-next-button {
    padding-top: 7px !important;
    padding-left: 2px !important;
    padding-right: 0px !important;
    margin-left: 5px !important
}

.fc-prev-button:active,
.fc-prev-button:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.fc-next-button:active,
.fc-next-button:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.sec-calendar {
    padding-bottom: 100px;
}

.selected_calendar {
    background-color: #f8313e !important;
    color: white !important;
}

.titleSignInRegister {
    padding-top: 20px;
    margin-bottom: 0px;
}

.titleSignInRegister .t1 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.titleSignInRegister .t2 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
}

.submitSignIn {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
}

#login-mt {
    height: calc(100vh - 450px);
}


.imageHowWorks {
    margin-bottom: 20px;
}

.sec-activacion {
    height: calc(100vh - 126px);
}

.btn-default,
.btn-red,
.month-controls span {
    border-radius: 5px !important;
    font-weight: 600 !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn.btn-link-footer {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    font-family: "Roboto";
}

.btn.btn-link-footer:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
}

.modal-index .modal-title {
    font-size: 25px;
    color: rgba(0, 0, 0, .8);
}


.modal-index .modal-body h4 {
    font-size: 18px;
}

.modal-index .modal-body p {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    line-height: 1.8;
}

.modal-index .modal-header .close {
    font-size: 22px;
    padding-top: 4px;
}

.modal-index .modal-footer .btn-secondary {
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .5);
    border: none;
    font-size: 14px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-index .modal-footer .btn-secondary:hover {
    background-color: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .7);
    border: none;
    font-size: 14px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-index .modal-content {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.d-registrate-usuario {
    padding-top: 30px;
}

.d-registrate-usuario .t1 {
    text-align: center;
    font-size: 22px;
}

.sectionSignIn {
    margin-top: 5.4% !important;
}

.d-btns-cita {
    margin-top: 40px;
}

.btn-lg-detalle-cita {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;
    width: 100%;
    height: 50px;
    color: rgba(0, 0, 0, .5);
    transition: .3s;
    font-weight: 400;
}

.btn-lg-detalle-cita > i {
    font-size: 16px;
    margin-right: 6px;
}

.btn-lg-detalle-cita:hover {
    background-color: #D2FAFF;
    border: 1px solid #D2fAFF;
    color: #008A9F;
}

.custom-control-input {
    margin-right: 10px;
}

.custom-control-label {
    padding-left: 10px;
    padding-top: 3px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-size: 13px;
    transition: .3s;
}
