<!DOCTYPE html>
<html ng-app="base" class="ng-scope">

<head>

    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <!-- angular-ui-calendar -->
    <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">

    <!-- angular block ui -->
    <link rel="stylesheet" data-require="angular-block-ui@*" data-semver="0.1.1" href="lib/angular-block-ui/dist/angular-block-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/41/3a/intl/es_419/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/41/3a/intl/es_419/util.js"></script>
</head>

<body block-ui="main" class="ng-scope block-ui block-ui-anim-fade" aria-busy="false">
    <!-- <div data-loading > </div> -->
    <!-- uiView: -->
    <div class="content ng-scope" ui-view="">
        <nav class="navbar navbar-default ng-scope" role="navigation">
            <div class="container-fluid padding0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">
                        <img src="img/logo-concita-gray.png" alt="Concita">
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar" ng-click="vm.goLogin()">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 0px!important; padding-top: 14px;
                       padding-bottom: 10px;">
                        <a href="login.html">
                            <li class="buttonSignIn" ng-click="">
                                Iniciar sesión
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main_landing" class="ng-scope sec-activacion">
            <div class="container">
                <!-- ngIf: vm.success -->
                <h2 ng-if="vm.success" class="ng-binding ng-scope">Hemos enviado un correo de activación a su cuenta
                </h2>
                <div class="row ng-scope" ng-if="vm.success">
                    <div class="col-lg-4 col-sm-6 sectionHowWorks">
                        <i class="fas fa-sync-alt imageHowWorks"></i>
                        <span class="descriptionHowWorks">
                            <b class="text-danger">CONCITA</b> te ofrece una herramienta digital donde podrás
                            sincronizar
                            tu agenda personal con tus citas de cualquier servicio.
                        </span>
                    </div>
                    <div class="col-lg-4 col-sm-6 sectionHowWorks">
                        <i class="fas fa-user-plus imageHowWorks"></i>
                        <span class="descriptionHowWorks">
                            Comienza de inmediato a tener un día más organizado registrándote con tu
                            correo o con tu cuenta predilecta de Facebook.
                        </span>
                    </div>
                    <div class="col-lg-4 col-sm-6 sectionHowWorks">
                        <i class="fas fa-calendar-check imageHowWorks"></i>
                        <span class="descriptionHowWorks">
                            <b class="text-danger">CONCITA</b> automáticamente organizará tus eventos de tu cuenta de
                            Facebook, esto con el fin de que no exista un conflicto entre citas de
                            servicios a las que tengas que acudir y tu vida personal.
                        </span>
                    </div>
                </div>
                <!-- end ngIf: vm.success -->
            </div>
        </div>
        
    </div>
    
    <div class="navbar navbar-gray footer ng-scope" ng-if="vm.success">
            <div class="container col-lg-12 concitaFooterSections">
                <div class="col-sm-4 text-center sectionFooter">Preguntas frecuentes</div>
                <div class="col-sm-4 text-center sectionFooter">Métodos de pago</div>
                <div class="col-sm-4 text-center sectionFooter" ng-click="vm.showTerms()" style="cursor : pointer">
                    Términos y condiciones</div>
            </div>
        </div>

    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- sweetalert scripts -->
    <script src="js/sweetalert2.js"></script>

</body>

</html>