<html ng-app="base">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <!-- angular-ui-calendar -->
    <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">

    <!-- angular block ui -->
    <link rel="stylesheet" data-require="angular-block-ui@*" data-semver="0.1.1" href="lib/angular-block-ui/dist/angular-block-ui.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <link href='js/calendario/lib/main.css' rel='stylesheet' />

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>

</head>

<body class="ng-scope block-ui block-ui-anim-fade">

    <nav class="navbar navbar-default navbar-service ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/logo-concita-gray.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav list-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="agenda-proveedor.html">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil-proveedor.html">Perfil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="services-proveedor.html">Servicios</a>
                    </li>
                </ul>

                <div class="toRight  ">
                    <span class="navbar-text ">
                        <p class="username-nav ">
                            <b class="binding ">ESTAS COMO PROVEEDOR</b>
                        </p>
                    </span>
                    <span class="navbar-text ">
                        <a class="btn btn-round-red-pages" onclick="cerrarSesion()">Cerrar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div class="content ng-scope ">

        <div class="container ">
            <div class="row ng-scope">
                <div class="col-lg-8 col-md-8 col-12">
                    <hr class="hr-form">
                    <p class="title-form">Mi agenda</p>
                </div>
            </div>
            <div class="d-btn-nuevo-evento ng-scope" ng-if="!mn.isClient()">
                <a class="btn-nuevo-evento" href="eventos.html"><i class="fas fa-plus"></i> Nuevo evento</a>
                <a class="btn-nuevo-evento" href="bloqueoHorario.html" style="margin-left: 10px;"><i class="fas fa-plus"></i> Bloqueo de
                    Horario</a>
            </div>

            <div class="row ng-scope">
                <div active="active" justified="true" class="ng-isolate-scope">
                    <ul class="nav nav-tabs nav-justified" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
                        <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope active" index="0" select="vm.activeCalendar()">
                            <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                <uib-tab-heading class="ng-scope"><i class="fa fa-calendar"></i> Calendario
                                </uib-tab-heading>
                            </a>
                        </li>

                        <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope" index="1">
                            <a href="miagenda-proveedor.html" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                <uib-tab-heading class="ng-scope"><i class="fa fa-list"></i> Citas</uib-tab-heading>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <section class="sec-calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="tab-content">
                        <div class="tab-pane ng-scope active" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">

                            <hr class="ng-scope">
                            <div id='calendar-container' class="d-calendar">
                                <div id='calendar'></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>


<!-- <div data-loading > </div> -->
<div class="content " ui-view></div>

<!--Encriptado-->
<script src="js/md5.min.js"></script>
<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- sweetalert scripts -->
<script src="js/sweetalert2.js"></script>
<!--Calender-->
<script src="js/calendario/lib/main.js"></script>
<!--Main Script-->
<script src="js/agendaProvedor.js"></script>
<script src="js/citasPendientesProvider.js"></script>
<script src="js/notificaciones.js"></script>

</html>