<!DOCTYPE html>
<html app="base">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
</head>

<body class=" block-ui block-ui-anim-fade">

    <nav class="navbar navbar-default navbar-service ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/logo-concita-gray.png" alt=""></a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav list-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Perfil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="">Servicios</a>
                    </li>
                </ul>
                <div class="toRight  ">
                    <span class="navbar-text ">
                        <p class="username-nav ">
                            Administrador <b class="binding "><span id="headerNombre" name="headerNombre"></span></b>
                    </p>
                    </span>
                    <span class="navbar-text ">
                        <a class="btn btn-round-red-pages" onclick="cerrarSesion()">Cerrar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="main_content" class="ng-scope">
        <a ui-sref=".schedule" style="text-decoration:none">
        </a>
        <div class="container">
            <span id="module_name">
            <hr class="visible-xs-block visible-md-block visible-sm-block">
            </span>
            <div ui-view="content" class="ng-scope">
                <nav class="navbar navbar-default ng-scope" role="navigation">
                    <div class="container-fluid padding0">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                        </div>
                    </div>
                </nav>
                <hr class="ng-scope">
                <div class="container ng-scope">
                    <div class="row container-fuild">
                        <div class="container form">
                            <a href="dashboard-admin.html"><button ng-click="vm.goProveedores();" class="submitSignIn">Regresar</button></a>
                            <form name="FrmCreate" id="siginin-form" class="ng-pristine ng-valid ng-valid-required ng-valid-maxlength">
                                <div class="displayBlock">
                                    <div class="textAlignCenter">
                                        <span class="text-danger">Todos los campos son requeridos</span>
                                    </div>

                                    <h4>Datos de la factura</h4>
                                    <p><small style="bottom: 0% !important;display:none;">Serie</small></p>
                                    <input style="bottom: 0% !important;display:none;" ng-required="false" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-empty ng-valid-required ng-valid-maxlength" name="serie" autocomplete="false" placeholder="* Serie" ng-model="vm.newCfdi.Serie"
                                        ng-maxlength="100">
                                    <p><small style="bottom: 0% !important;">Moneda</small></p>
                                    <input value="MXN" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="currency" autocomplete="false" placeholder="* Moneda" ng-model="vm.newCfdi.Currency" ng-maxlength="100"
                                        required="required">
                                    <p><small style="bottom: 0% !important;">CP Expedición</small></p>
                                    <input value="44150" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="expedicion" autocomplete="false" placeholder="* CP Expedicion" ng-model="vm.newCfdi.ExpeditionPlace"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Condiciondes de pago</small></p>
                                    <input value="CREDITO A SIETE DIAS" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="condiciones" autocomplete="false" placeholder="* Condiciones de Pago" ng-model="vm.newCfdi.PaymentConditions"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Tipo de CFDI</small></p>
                                    <input value="1" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="tipocfdi" autocomplete="false" placeholder="* Tipo de CFDI (I- Ingreso, E- Egreso)" ng-model="vm.newCfdi.CfdiType"
                                        ng-maxlength="100" readonly="" required="required">
                                    <p><small style="bottom: 0% !important;">Forma de Pago</small></p>
                                    <input value="03" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="formadepago" autocomplete="false" placeholder="* Forma de Pago" ng-model="vm.newCfdi.PaymentForm"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Método de Pago</small></p>
                                    <input value="PUE" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="metodo de pago" autocomplete="false" placeholder="* metodo de pago" ng-model="vm.newCfdi.PaymentMethod"
                                        ng-maxlength="100" required="required">
                                    <hr>

                                    <h4>Datos del proveedor</h4>
                                    <p><small style="bottom: 0% !important;">RFC</small></p>
                                    <input ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="rfc" autocomplete="false" placeholder="* RFC" ng-model="vm.proveedor.rfc" ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Nombre Comercial</small></p>
                                    <input ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="nombrecomercial" autocomplete="false" placeholder="* Nombre Comercial" ng-model="vm.proveedor.namefiscal"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Uso de CFDI</small></p>
                                    <input ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="usocfdi" autocomplete="false" placeholder="* Uso CFDI" ng-model="vm.newCfdi.Receiver.CfdiUse" ng-maxlength="100"
                                        required="required">
                                    <hr>

                                    <h4>Concepto</h4>
                                    <p><small style="bottom: 0% !important;">Codigo del producto</small></p>
                                    <input value="10101504" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="codigoproducto" autocomplete="false" placeholder="* Codigo del producto" ng-model="vm.newCfdi.Items[0].ProductCode"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Numero de Identificacion</small></p>
                                    <input value="EDL" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="numeroiden" autocomplete="false" placeholder="* Numero Identificacion" ng-model="vm.newCfdi.Items[0].IdentificationNumber"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Descripcion</small></p>
                                    <input value="Estudios de viabilidad" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" name="descripcion" autocomplete="false" placeholder="* Descripcion" ng-model="vm.newCfdi.Items[0].Description"
                                        required="required">
                                    <p><small style="bottom: 0% !important;">Unidad</small></p>
                                    <input value="NO APLICA" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="unidad" autocomplete="false" placeholder="* Unidad" ng-model="vm.newCfdi.Items[0].Unit"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Codigo de unidad</small></p>
                                    <input value="MTS" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="codigodeunidad" autocomplete="false" placeholder="* Codigo de unidad" ng-model="vm.newCfdi.Items[0].UnitCode"
                                        ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Precio Unitario</small></p>
                                    <input value="50" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="preciounitario" autocomplete="false" placeholder="* Precio Unitario" ng-model="vm.newCfdi.Items[0].UnitPrice"
                                        ng-keyup="vm.calcularTotales()" ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Cantidad</small></p>
                                    <input value="2" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="cantidad" autocomplete="false" placeholder="* Cantidad" ng-model="vm.newCfdi.Items[0].Quantity"
                                        ng-keyup="vm.calcularTotales()" ng-maxlength="100" required="required">
                                    <p><small style="bottom: 0% !important;">Subtotal</small></p>
                                    <input value="100" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="subtotal" autocomplete="false" placeholder="* Subtotal" ng-model="vm.newCfdi.Items[0].Subtotal"
                                        ng-maxlength="100" readonly="" required="required">
                                    <hr>

                                    <h4>Impuestos</h4>
                                    <p><small style="bottom: 0% !important;">Tipo Impuesto</small></p>
                                    <input value="IVA" ng-required="true" type="text" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="impuestoiva" autocomplete="false" placeholder="* Impuesto" ng-model="vm.newCfdi.Items[0].Taxes[0].Name"
                                        ng-maxlength="100" readonly="" required="required">
                                    <p><small style="bottom: 0% !important;">Base</small></p>
                                    <input value="100" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="base" autocomplete="false" placeholder="* Impuesto" ng-model="vm.newCfdi.Items[0].Taxes[0].Base"
                                        ng-maxlength="100" readonly="" required="required">
                                    <p><small style="bottom: 0% !important;">Tasa</small></p>
                                    <input value="0.16" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="tasa" autocomplete="false" placeholder="* Tasa" ng-model="vm.newCfdi.Items[0].Taxes[0].Rate"
                                        ng-maxlength="100" readonly="" required="required">
                                    <p><small style="bottom: 0% !important;">Total Impuesto</small></p>
                                    <input value="16" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="descuento" autocomplete="false" placeholder="* descuento" ng-model="vm.newCfdi.Items[0].Taxes[0].Total"
                                        ng-maxlength="100" readonly="" required="required">

                                    <hr>

                                    <h4>Total Factura</h4>
                                    <input value="116" ng-required="true" type="number" class="inputField ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" name="totalcobrar" autocomplete="false" placeholder="* Totalcobrado" ng-model="vm.newCfdi.Items[0].Total"
                                        ng-maxlength="100" readonly="" required="required">
                                    <hr>



                                </div>
                            </form>

                            <hr>

                            <button ng-disabled="vm.guardar" class="buttonDoDate btn btn-block" ng-click="vm.saveFactura();">
                    Guardar Factura
                  </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Titulos y contenidos de las vistas -->
    </div>


    <!--Encriptado-->
    <script src="js/md5.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- sweetalert scripts -->
    <script src="js/sweetalert2.js"></script>
    <!--Main Script-->
    <script src="js/administrador.js"></script>

</html>