<!DOCTYPE html>
<html app="base">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
</head>

<body class=" block-ui block-ui-anim-fade">

    <nav class="navbar navbar-default navbar-service ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/logo-concita-gray.png" alt=""></a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav list-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Perfil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="">Servicios</a>
                    </li>
                </ul>
                <div class="toRight  ">
                    <span class="navbar-text ">
                        <p class="username-nav ">
                            Administrador <b class="binding "><span id="headerNombre" name="headerNombre"></span></b>
                    </p>
                    </span>
                    <span class="navbar-text ">
                        <a class="btn btn-round-red-pages" onclick="cerrarSesion()">Cerrar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>


    <div id="main_content" class="ng-scope">
        <a ui-sref=".schedule" style="text-decoration:none">
        </a>
        <div class="container">
            <span id="module_name">
                <hr class="visible-xs-block visible-md-block visible-sm-block">
            </span>
            <div ui-view="content" class="ng-scope">
                <div class="row container-fuild ng-scope">
                    <div class="container " style="text-align:right;">
                        <a href="dashboard-admin.html"><button class="botonAdquirir" style="width: 20% !important;" ng-click="vm.goFacturas()">Proveedores</button></a>
                    </div>
                    <div class="container ">
                        <input type="text" class="inputBusqueda ng-pristine ng-untouched ng-valid ng-empty" style="width: 30% !important;" name="query" placeholder=" Búsqueda por RFC" ng-model="vm.query">
                        <button ng-click="vm.searchfacturas(vm.query)" class="submitSignIn" style="width: 8% !important;">Buscar</button>
                        <br>
                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th>Tipo CFDI</th>
                                    <th>Fecha</th>
                                    <th>Email</th>
                                    <th>Folio</th>
                                    <th>Metodo Pago</th>
                                    <th>RFC</th>
                                    <th>Serie</th>
                                    <th>Nombre</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="servicios">
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!--Encriptado-->
    <script src="js/md5.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- sweetalert scripts -->
    <script src="js/sweetalert2.js"></script>
    <!--Main Script-->
    <script src="js/facturas.js"></script>

</html>