<html ng-app="base" class="ng-scope">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <title>Concita</title>
</head>

<body block-ui="main" class="ng-scope block-ui block-ui-anim-fade" aria-busy="false">
    <div class="content ng-scope" ui-view="">
        <nav class="navbar navbar-default ng-scope" role="navigation">
            <div class="container-fluid padding0">
                <div class="navbar-header" name="top">
                    <span class="navbar-brand">
                        <img src="img/logo-concita.png" alt="Concita" style="max-width: 6%">
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li type="button" class="buttonSignIn" data-toggle="collapse" data-target="#demo">
                            Iniciar sesión
                        </li>
                        <div class="sectionSignIn collapse" id="demo">
                            <form name="loginForm" class="form-horizontal loginForm" novalidate="">
                                <div class="titleSignInRegister" style="margin-top: 20px;">
                                    <p>
                                        <small>
                                            Inicia con tu correo electrónico
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="danger">*</span> Campos requeridos
                                        </small>
                                    </p>
                                </div>
                                <div class="divInputSignIn">
                                    <input id="email" type="email" class="inputSignIn" name="email" placeholder="Correo electrónico" required="">
                                </div>
                                <div class="divInputSignIn">
                                    <input id="password" type="password" class="inputSignIn" name="password" placeholder="Contraseña" required="">
                                </div>
                                <div class="subTitleSignIn text-danger">
                                    <b>Olvide mi contraseña</b>
                                </div>
                                <h5 class="version ng-binding">V.18.12.6.10.0.0</h5>
                                <button type="button" class="submitSignIn " onclick="loginAdmin()">
                                    Continuar
                                </button>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main_landing" class="ng-scope">
            <div>
            </div>
            <div class="row coverLanding">
                <h1>Organiza tu día y agenda tus citas de cualquier servicio.</h1>
            </div>
            <div class="container">
                <h2>Acceder Area Administrador</h2>
            </div>
        </div>
        <div class="navbar navbar-gray row footer ng-scope">
            <div class="container col-xs-12 concitaFooterSections">
                <div class="col-sm-4 text-center sectionFooter">Preguntas frecuentes</div>
                <div class="col-sm-4 text-center sectionFooter">
                    <p>Contacto: 3320347383</p>
                    <p>info@concita.com.mx</p>
                </div>
                <div class="col-sm-4 text-center sectionFooter" ng-click="vm.showTerms()" style="cursor : pointer">
                    Términos y condiciones</div>
            </div>
        </div>
    </div>

</body>

<!--Encriptado-->
<script src="js/md5.min.js"></script>
<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- sweetalert scripts -->
<script src="js/sweetalert2.js"></script>
<!--Main Script-->
<script src="js/login.js"></script>
<script src="js/temporal.js"></script>

</html>