<html ng-app="base">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <!-- angular-ui-calendar -->
    <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">

    <!-- angular block ui -->
    <link rel="stylesheet" data-require="angular-block-ui@*" data-semver="0.1.1" href="lib/angular-block-ui/dist/angular-block-ui.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
</head>

<body class="ng-scope block-ui block-ui-anim-fade">

    <nav class="navbar navbar-default navbar-service ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/logo-concita-gray.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav list-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="agenda.html">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html ">Perfil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="services.html ">Servicios</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button " style="cursor: pointer; ">Notificaciones</a>
                        <div class="dropdown-menu ">
                            <div id="notitifaciones"></div>
                        </div>
                    </li>
                </ul>

                <div class="toRight  ">
                    <span class="navbar-text ">
                        <p class="username-nav ">
                            Usuario, <b class="binding "><span id="headerNombre" name="headerNombre"></span></b>
                    </p>
                    </span>
                    <span class="navbar-text ">
                        <a class="btn btn-round-red-pages" onclick="cerrarSesion()">Cerrar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div class="content ng-scope ">
        <div class="container ">

            <div class="container ">
                <div class="row ng-scope">
                    <div class="col-lg-8 col-md-8 col-12">
                        <hr class="hr-form">
                        <p class="title-form">Mi agenda</p>
                        <!-- ngIf: !mn.isClient() -->
                    </div>
                </div>

                <div class="row ng-scope">
                    <div active="active" justified="true" class="ng-isolate-scope">
                        <ul class="nav nav-tabs nav-justified" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
                            <li class="uib-tab nav-item ng-scope ng-isolate-scope" index="0" select="vm.activeCalendar()">
                                <a href="agenda.html" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                    <uib-tab-heading class="ng-scope"><i class="fa fa-calendar"></i> Calendario
                                    </uib-tab-heading>
                                </a>
                            </li>

                            <li class="uib-tab nav-item  active" index="1">
                                <a href="" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                    <uib-tab-heading class="ng-scope"><i class="fa fa-list"></i> Citas</uib-tab-heading>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- ngRepeat: tab in tabset.tabs -->
                            <div class="tab-pane ng-scope" uib-tab-content-transclude="tab">


                                <!-- <h1>Hola Calendario</h1> -->
                                <hr class="ng-scope">
                                <div class="col-lg-8 col-lg-offset-2 text-center ng-scope">
                                    <div class="full-calendar ng-pristine ng-untouched ng-valid ng-isolate-scope fc fc-unthemed fc-ltr ng-not-empty" ng-model="vm.eventSources" calendar="calendarioUno" ui-calendar="vm.uiConfig.calendar">
                                        <div class="fc-toolbar">
                                            <div class="fc-left">
                                                <div class="fc-button-group"><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button>
                                                    <button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button>
                                                </div>
                                            </div>
                                            <div class="fc-right"><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="">today</button>
                                                <div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span
                                                            class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span
                                                            class="fc-icon fc-icon-right-single-arrow"></span></button>
                                                </div>
                                            </div>
                                            <div class="fc-center">
                                                <h2>mayo 2020</h2>
                                            </div>
                                            <div class="fc-clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane ng-scope active" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
                                <hr class="ng-scope">
                                <div class="col-lg-5 text-center ng-scope">

                                </div>
                                <div class="col-lg-12 ng-scope">
                                    <ul class="timeline timeline-inverse">
                                        <li onclick="prevMonth()">
                                            <i class="fa fa-chevron-up"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header-title ng-binding">
                                                    <i class="fa fa-chevron-circle-up"></i> <span id="prevMonth">Abril 2020</span> 
                                                </h3>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header-title">
                                                    <span id="currentMonth" class="ng-binding">Junio 2020</span>
                                                </h3>
                                            </div>
                                        </li>

                                        <li id="citass">
                                        </li>
                                        <li onclick="nextMonth()">
                                            <i class="fa fa-chevron-down bg-gray"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header-title ng-binding">
                                                    <i class="fa fa-chevron-circle-down"></i> <span id="nextMonth">Junio 2020</span> 
                                                </h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
</body>


<!-- <div data-loading > </div> -->
<div class="content " ui-view></div>
<!--Encriptado-->
<script src="js/md5.min.js"></script>
<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- sweetalert scripts -->
<script src="js/sweetalert2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>

<!-- Main Script-->
<script src="js/miAgenda.js"></script>
<script src="js/moment.js"></script>
<script src="js/notificaciones.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data-2012-2022.min.js"></script>


</html>