<!DOCTYPE html>
<html ng-app="base">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <!-- angular-ui-calendar -->
    <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">

    <!-- angular block ui -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
</head>

<body class="ng-scope block-ui block-ui-anim-fade">

    <nav class="navbar navbar-default navbar-service ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/logo-concita-gray.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav list-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="agenda-proveedor.html">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil-proveedor.html">Perfil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="services-proveedor.html">Servicios</a>
                    </li>
                </ul>

                <div class="toRight  ">
                    <span class="navbar-text ">
                        <p class="username-nav ">
                            <b class="binding ">ESTAS COMO PROVEEDOR</b>
                        </p>
                    </span>
                    <span class="navbar-text ">
                        <a class="btn btn-round-red-pages" onclick="cerrarSesion()">Cerrar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div class="content ng-scope ">
        <div class="container ">

            <div ui-view="content " class="ng-scope ">
                <div class="row container-fuild ng-scope ">

                    <div class="col-md-12" style="margin-top: 15px;">
                        <hr class="hr-form">
                        <p class="title-form">Mi perfil</p>
                    </div>

                    <div class="row row-perfil">

                        <div class="col-md-6">
                            <div class="row row-foto-nombre-perfil" style="padding-top: 30px;">
                                <div class="col-md-4 col-5">
                                    <a onclick="activarImput()"><img id="imagenMostrar" ng-if="!vm.isImageChanged()" alt="Image" class="img-responsive ng-scope" style="cursor: pointer;" src="img/user-default.png"></a>
                                    <input type="file" class="hide ng-isolate-scope" accept="image/*" id="img" onchange="imagen()">
                                    <p class="text-center ng-scope" id="imgText" hidden>
                                        <small>Selecciona foto de perfil dando clic en la imagen</small>
                                    </p>
                                    <div class="croper ng-hide">
                                        <canvas class="img-responsive ng-isolate-scope" id="canvas" image-cropper="" image="vm.cropper.sourceImage" cropped-image="vm.editUser.data.picture" crop-width="100" crop-height="100" min-width="50" min-height="50" keep-aspect="true" crop-area-bounds="vm.bounds"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-8 col-7 d-info-nombre-perfil">
                                    <p class="t1">Nombre</p>

                                    <div class="input-group">

                                        <input id="name" type="text" placeholder="* Nombre Completo" class="ng-pristine ng-untouched ng-scope ng-valid-minlength ng-valid-maxlength form-control ng-not-empty ng-valid ng-valid-required" required="required" disabled="disabled">

                                        <span class="input-group-addon" style="background: transparent !important; border: none !important;">
                                        </span>
                                    </div>

                                    <div class="div ng-scope" ng-if="!mn.isClient()">
                                        <p class="t2">Suscripción:<code class="ng-binding"></code></p>
                                        <p class="t2">Renovación: <code class="ng-binding"></code></p>
                                    </div>

                                </div>
                            </div>

                            <div class="d-info-perfil" style="padding: 0;">

                                <div class="d2 ng-scope" ng-if="!mn.isClient()">
                                    <p class="t1">Domicilio</p>
                                    <div class="input-group" ng-class="{'active':vm.editable}">
                                        <input id="direccion" type="text" placeholder="Dirección" ng-class="{'form-control':true,'has-error':vm.editUser.data.address.$invalid &amp;&amp; vm.editUser.data.address.$dirty}" ng-model="vm.editUser.data.address" ng-disabled="!vm.editable" ng-change="vm.getCoordinates()"
                                            ng-maxlength="100" googleplace="" class="ng-pristine ng-untouched ng-valid ng-valid-maxlength form-control pac-target-input ng-not-empty" disabled="disabled" autocomplete="off">
                                        <span class="input-group-addon" style="background: transparent !important; border: none !important;">
                                        </span>
                                    </div>
                                </div>

                                <div class="d2">
                                    <p class="t1">Correo electrónico</p>
                                    <div class="input-group">
                                        <input id="email" type="email" placeholder="Correo electrónico" class="form-control ng-pristine ng-untouched ng-valid-email ng-not-empty ng-valid ng-valid-required" ng-model="vm.editUser.email" ng-disabled="true" ng-required="true" required="required"
                                            disabled="disabled">
                                        <span class="input-group-addon" style="background: transparent !important; border: none !important;">
                                        </span>
                                    </div>
                                </div>

                                <div class="d2">
                                    <p class="t1">Teléfono</p>
                                    <div class="input-group">
                                        <input id="phone" type="number" placeholder="* Teléfono" min="0" just-numbers="" class=" ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required ng-valid-minlength ng-valid-maxlength form-control ng-not-empty" disabled="disabled">
                                        <span class="input-group-addon" style="background: transparent !important; border: none !important;">
                                        </span>
                                    </div>
                                </div>

                                <div class="btn-group row col-xs-12 buttonProfile" id="divGuardado" hidden>
                                    <button onclick="botonCancelar()" class="btn btn-cancel col-xs-12">
                                        Cancelar
                                    </button>
                                    <button class="btn btn-red-edit col-xs-12" onclick="actualizarPerfil()">
                                        Guardar
                                    </button>
                                </div>

                                <div class="row col-xs-12" id="divEditar">
                                    <button onclick="botonEditar()" class="btn btn-default col-xs-12 btn btn-red-edit">Editar</button>
                                </div>

                            </div>
                        </div>


                        <div class="col-md-6 ng-scope" ng-if="!mn.isClient()">
                            <div class="d-title-metodos">
                                <p class="t1">Suscripcion</p>
                                <p class="t2">Administrar mi suscripcion</p>
                            </div>

                            <div class="row row-tarjetas-perfil">
                                <div class="col-md-6">
                                    <a onclick="cancelarSuscripcion()">
                                        <div class="d-item-tarjeta-nueva" style="cursor: pointer;">
                                            <i class="fas fa-times"></i>
                                            <p class="t1">Cancelar suscripcion</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

<!-- <div data-loading > </div> -->
<div class="content " ui-view></div>
<!--Encriptado-->
<script src="js/md5.min.js"></script>
<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- sweetalert scripts -->
<script src="js/sweetalert2.js"></script>
<script src="js/config.js"></script>
<!--Main Script-->
<script src="js/perfil-proveedor.js"></script>
<script src="js/notificaciones.js"></script>
<script src="js/citasPendientesProvider.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBBBXLzWQsdzaw_x88Ic1UFCmSuvKMpmJk"></script>

</html>