<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/gif" href="img/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- animate-css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- jquery confirm -->
    <link rel="stylesheet" href="lib/jquery-confirm2/dist/jquery-confirm.min.css">
    <!-- jquery-growl -->
    <link rel="stylesheet" href="lib/growl/stylesheets/jquery.growl.css">

    <!-- angular-ui-calendar -->
    <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">

    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/estilo-back.css">
    <link rel="stylesheet" href="css/registroCliente.css">

    <!-- EMOJI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    <title>Concita</title>
    <script type="text/javascript" src="https://www.trustedsite.com/rpc/ajax?do=tmjs-visit&amp;host=concita.com.mx&amp;rand=1592237392468"></script>

</head>

<body block-ui="main" class="ng-scope block-ui block-ui-anim-fade" aria-busy="false">
    <div class="content ng-scope" style="height: 100%;">
        <header class="back-header div-info-header" style="height: 85%; font-size: 20px; padding-top: 0 !important;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-index" role="navigation">
                <div class="container-fluid padding0">
                    <span class="navbar-brand" href="#"><a href="index.html" id="logo"><img src="img/logo-concita.png"
                                alt=""></a></span>
                </div>
            </nav>

            <div class="container" style="height: 85%;" id="login-mt">
                <div class="sectionSignIn" style="position: initial;">

                    <form name="loginForm" class="form-horizontal loginForm ng-pristine ng-scope ng-valid-email ng-invalid ng-invalid-required ng-valid-minlength" style="padding: 20px;" novalidate="" ng-if="vm.showLoginForm">
                        <div class="titleSignIn">
                            <i class="fa fa-envelope" aria-hidden="true"></i>Correo
                        </div>
                        <div class="titleSignInRegister ng-scope" ng-if="!vm.isLogin">
                            <p>
                                <small>
                                    Registrarme con cuenta de correo
                                </small>
                            </p>
                            <p>
                                <small>
                                    <span class="danger">Todos los campos son requeridos</span>
                                </small>
                            </p>
                        </div>
                        <div class="divInputSignIn">
                        </div>
                        <div class="divInputSignIn ng-scope" ng-if="!vm.isLogin">
                            <input class="inputSignIn" id="empresaName" type="text" name="name" placeholder="Nombre del Negocio/Razón Social" required="">
                        </div>
                        <div class="divInputSignIn">
                            <input id="email" type="email" class="inputSignIn" name="email" placeholder="Correo electrónico" required="">
                        </div>
                        <h5 class="version ng-binding">V.18.12.6.10.0.0</h5>
                        <button type="button" onclick="comprovacion()" class="submitSignIn">
                            Registrarse
                        </button>
                    </form>

                </div>
            </div>
        </header>

        <footer class="ng-scope" style="padding-top: 70px !important; padding-bottom: 70px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="p1">2019 © Concita - Todos los derechos son reservados</p>
                        <p class="p1" style="cursor : pointer">Términos y condiciones</p>
                        <p class="p1" style="cursor : pointer">Aviso de privacidad</p>
                    </div>
                    <div class="col-md-6">
                        <p class="p2">
                            <a class="btn-social" href="https://www.facebook.com/ConcitaMx/" target="_blank" rel="norenderer noopener"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn-social" href="https://www.instagram.com/concitamx/?hl=en" target="_blank" rel="norenderer noopener"><i class="fab fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="js/md5.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- sweetalert scripts -->
    <script src="js/sweetalert2.js"></script>
    <!-- Personal js -->
    <script src="js/registroProveedor.js"></script>

</body>

</html>